<div class="govuk-grid-column-two-thirds-from-desktop">
  <span class="govuk-caption-l">Guidance</span>
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    Register an overseas entity and tell us about its beneficial owners
  </h1>
  <p class="govuk-body-l">How to add an overseas entity and its beneficial owners to the Register of Overseas Entities, so that they can buy and sell land or property in the UK.</p>
  <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
  <ul class="govuk-list govuk-list govuk-!-margin-bottom-8 govuk-list--dashed">
    <li>
      <a class="govuk-link govuk-body-s" href="#background">What the Register of Overseas Entities is </a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#what-an-overseas-entity-is">What an overseas entity is </a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#what-a-beneficial-owner-is">What a beneficial owner is </a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#who-can-use-this-service">Who can use this service</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#what-due-diligence-checks-you-must-do">What due diligence checks you must do</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#when-you-need-to-register">When you need to register</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#what-information-will-be-shown-on-the-public-register">What information will be shown on the public register</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#start">Apply to register an overseas entity and its beneficial owners</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#what-happens-after-an-overseas-entity-is-registered">What happens after an overseas entity is registered </a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#contact-us">Contact us</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#privacy-statement">Privacy statement</a>
    </li>
  </ul>
</div>
