// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

/* PRINT CSS */
@media print {

  // We could reduce these further as there's a lot of repetition, but for the sake of clarty to see what's being hidden, etc.
  // I've chosen to increase the number of elements/classes being referred to.

  // To test the styles we don't have to waste reams and reams of paper.

  // Chrome:
  // 1. Select "View > Developer > Developer Tools"
  // 2. From the kebab menu (three dots) choose "More tools > Rendering"
  // 3. Scroll to the bottom of the list, find "Emulate CSS media type" and choose "Print"

  // Override body style setting the page margin to 0
  body {
    margin: 0;
  }
  
  // Override body, all headers (h1, h2, h3, and, h4) and p styles setting their colour and background colours
  // We are setting the font colour to be black and the background colour on which it sits to be white
  body, h1, h2, h3, h4, p {
    color: #000;
    background-color: #fff;
  }

  // Set a specific class of the h1 element to a new font size
  h1.govuk-heading-xl {
    font-size: 24pt;
  }

  // Set a specific class of the h2 element to a new font size
  h2.govuk-heading-l {
    font-size: 20pt;
  }

  // Set a specific class of both the h3 and h4 elements to a set font size
  h3.govuk-heading-m, h4.govuk-heading-s {
    font-size: 18pt;
  }

  // Font size adjustments for 'Check your answers' specific classes brought into line with
  // parpagraph and list elements so as they are the same size 
  dt.govuk-summary-list__key, dd.govuk-summary-list__value, p, li {
    font-size: 13pt;
  }
  
  // Hide the a (links) as well as two further anchor classes that are attributed to buttons and back links
  a, a.govuk-button, a.govuk-back-link {
    visibility: hidden;
  }

  // Override the override (due to above) by ensuring both GOVUK and the 'service name' are visible
  // (they are links and have been hidden with the above, but we want them to feature as part of the print stylesheet)
  a.govuk-header__link, a.govuk-header__link--service-name {
    visibility: visible;
  }

  // Hide the alpha/beta/live phase banner
  div.govuk-phase-banner {
    visibility: hidden;
  }

  // Hide the email address of the logged in user
  li.user {
    visibility: hidden;
  }

  // Set the content of the main div to 100%
  // (it looks better with respect to section breaks, etc., but doesn't neccessarily force the content to be 100% width)
  div.govuk-grid-column-two-thirds-from-desktop {
    width: 100%;
  }

  // Hide horizontal rule
  hr {
    visibility: hidden;
  }

  // Hide the grey GOVUK footer, along with the content within it
  footer.govuk-footer, div.govuk-footer__meta {
    visibility: hidden;
   }

}

@import "accessible-autocomplete";

.gem-c-contents-list__list-item--dashed {
position: relative;
padding-left: 25px;
padding-right: 25px;
}
.gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
}

// CH NOTIFICATION BANNER
// The banner takes the form of a container div which in-turn is made of two separate divs. These being:
// 1. title and (button) link
// 2. content (the messaging)

.ch-notification-banner { // Banner container
  background-color:#1d70b8;
  font-family: "GDS Transport", arial, sans-serif;
  color: #fff !important;
  margin-bottom: 30px;
}

.ch-notification-title { // Banner tite and button element container
  background-color:#1d70b8;
  font-size: 19px;
  font-weight: 700;
  padding: 10px 25px;
}

.ch-notification-content { // Banner content container
  background-color:#ffffff;
  color: #0b0c0c;
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
  border:#1d70b8 5px;
  border-style: none solid solid solid;
}

.ch-show-hide-button { // Banner show/hide button styled as a link
  background-color: transparent;
  font-size: 16px;
  float: right;
  border: none;
  color: white;
  text-align: right;
  text-decoration: underline solid white;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer; 
}

.ch-show-hide-button:hover { // Banner show/hide button hover state styling
  text-decoration: underline solid white 3px;
}

.ch-show-hide-button:focus { // Banner show/hide button focus state styling
  color: #0b0c0c;
  text-decoration: underline solid #0b0c0c 3px;
  background-color: #ffdd00;
}

//Styles for interrupt card

.interrupt-card {
  background-color:#175B96; // this blue ensure sufficient colour contrast
  color: #fff !important;
  padding: 2em 2em 0em;

  h1, h2, h3, p, ul, li, a:link {
    color:#fff;
  }
  a:hover, a:visited  {
    color:   #f3f2f1		;
  }
  a:focus {
    text-decoration:none;
    color:  $govuk-focus-text-colour;
    background-color:  $govuk-focus-colour	;
  }

  .govuk-button {
    background-color: #fff;
    color: #000 !important;
    &:visited {
      background-color: #f3f2f1	;
      color:  $govuk-focus-text-colour;
    }
    &:hover {
      background-color: 	#b1b4b6 	;
      color:  $govuk-focus-text-colour;
    }

  }

}



//Styles for user bar

ul#navigation {
  font-size: 0.9em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  display: inline-block;
  float: right;
  
  li {
    display: inline;
    font-family: 'nta', Arial;
    font-size: 16px;
    overflow-wrap: break-word;
    a {margin-left: 0.9em;}
  }
}

//Copy button on confirmation user-centred-design
.application-copy {
  padding: 0.5em;
  margin: 0.2em 0 0 0.6em;
}

// Adding a download icon

.download-icon {
  padding: 0.5em 0 0 2.1em;
  background-image: url("/public/images/icon-file-download.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

// Styling download type and font-size

.file-format-size {
  display: block;
  padding: 0.2em 0 0 2.2em;

}

// Styling call to action box on guidance to mirror GOV Whitehall styles

.call-to-action {
  margin: 2em 0;
  background-color: #f3f2f1;
  padding: 2em 2em 0.6em 2em;
}

// Styling email notification box to mirror GOV Whitehall styles

.email-notification {
  border: 1px solid #b1b4b6;
  padding: 0.8em 1em 0.8em 1.8em;
  display: inline-block;
  background-image: url("/public/images/bell-icon.ico");
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 3% 50%;
}

.print-notification {
  background-image: url("/public/images/print-icon.png");
  background-size: 12%;
  background-position: 5% 50%;

}

// Forcing change links in check your answers within a table

.check-answers-change-table {
  text-align: right;
}


// FILING CARDS CSS LIFTED FROM 'CONF-STTATEMENT-PROTOTYPE'
// Commented out classes which I believe are not required, in the event they are then we can uncomment them

//.flex {
//  display: flex;
//}

//.govuk-summary-card {
//  border: 1px solid #b1b4b6;
//}

//.govuk-summary-card_heading {
//  background: #f3f2f1;
//}

//.govuk-link__print {
//   display: none;
// }

//.govuk-input--company-number {
//  max-width: 13ex;
//}

//.govuk-hint-text {
//  color: $govuk-secondary-text-colour;
//}

// Card background
.one-filing {
  margin-bottom: 2em;
  background-color: #f8f8f8;
  padding: 1em;
  clear: both;
}

// Links under header
.js-toggle-nav {
  text-align: right;
  font-size: 16px;
  font-family: 'proxima_nova', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  z-index: 60;
  clear: none;
  background: transparent;
  border-bottom: 1px solid #bfc1c3;
  vertical-align: middle;
  padding-bottom: 20px;
}

.js-signout {
  text-align: right;
  font-size: 16px;
  font-family: 'proxima_nova', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  z-index: 60;
  clear: none;
  background: transparent;
  border-bottom: 1px solid #bfc1c3;
  vertical-align: middle;
  padding-bottom: 20px;
}

.user {
  display: inline;
}

.content {
  display: inline;
}

.content-email {
  display: inline;
  padding-right: 20px;
}

.nav-spacing {
  padding-left: 20px;
}

.text-description {
  font-size: 16px;
}

//.search-bar-active {
//  background: #dee0e2;
//  padding: .5em;
//  border: none;
//  margin: 0;
//  color: #0b0c0c;
//}

//.search-header .searchfield {
//  position: relative;
//  vertical-align: baseline;
//}

//.search-header .search-submit {
//  position: absolute;
//  bottom: 0;
//  right: 0;
//  height: 50px;
//  width: 50px;
//  overflow: visible;
//  cursor: pointer;
//}

//.search-header button {
//  box-shadow: none;
//  z-index: 4;
//  top: 0;
//  border: none;
//  text-indent: -5000px;
//  color: #fff;
//  background-color: #005ea5;
//  background-image: url('/images/search/search-button.png');
//  background-repeat: no-repeat;
//  background-position: -12.5% 50%;
//}

//.govuk-summary-list__row:last-child {
//  .govuk-summary-list__key {
//    border-bottom: 1px solid transparent;
//  }
//  .govuk-summary-list__value {
//    border-bottom: 1px solid transparent;
//  }
//  .govuk-summary-list__actions {
//    border-bottom: 1px solid transparent;
//  }
//}

//.app-task-list__items {
//  padding-left: 0px;
//}

//.govuk-panel {
//  .govuk-panel--rejection {
//    color: #ffffff;
//    background: #d4351c;
//  }
//}

//.govuk-tag--dark-grey {
//  background-color: 	#505a5f;
//}

//.rejected {
//  background: transparent;
//  border: 6px solid #d4351c;
//  color: #d4351c;
//}
