{% extends "layout.html" %}

{% block pageTitle %}

Do you want to add another trust?
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form classes="form" action="/register/check-answers" method="get">
   
<!--When "no" is selected for "addTrust" and the user still needs to assign BOs that they say are part of a trust.-->

{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      html: 'You still need to assign beneficial owners to a trust:
      <br><br>
      <ul>
      <li>Jane Doe</li>
      <li>Joe Bloggs</li>
      <li>ACME LTD</li>
      </ul>
      ',
      href: "#addTrust"
    }
  ]
}) }}



{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "addTrust",
  name: "addTrust",
  fieldset: {
    legend: {
      text: "Do you need to add another trust?
",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  errorMessage: {
    html: 'You still need to assign beneficial owners to a trust:
      <br><br>
      <ul class="govuk-body govuk-error-summary__body">
      <li class>Jane Doe</li>
      <li>Joe Bloggs</li>
      <li>ACME LTD</li>
      </ul>'
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}




      {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>




    </div>
  </div>

{% endblock %}
