{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Trusts that you have added</h1>








      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Trust 123</h2>

      <p class="govuk-!-margin-bottom-3"><a href="#">Change or remove <span class="govuk-visually-hidden">Trust 123</span></a></p>


    <!---  <h3 class="govuk-heading-m">Who is involved in this trust?</h3>--->

    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-3',
      rows: [
      {
        key: {
          text: "Beneficial owner",
          visuallyHiddenText: "Beneficial owner - ACME from 15 April 2020"
        },
        value: {
          html: "ACME <br> from 15 April 2020"
        }
        }
      ,
        {
          key: {
            text: "Beneficial owner",
            visuallyHiddenText: "Beneficial owner - Joe Bloggs from 11 April 2019"
          },
          value: {
            html: "Joe Bloggs <br> from 11 April 2019"
          }
          }
        ,
          {
            key: {
              text: "Individual settlor",
              visuallyHiddenText: "Individual settlor - Dan Ashcroft"
            },
            value: {
              html: "Dan Ashcroft"
            }
            }
          ,
            {
              key: {
                text: "Other legal entity",
                visuallyHiddenText: "Other legal entity - Doe LTD"
              },
              value: {
                text: "Doe LTD"
              }
        }
            ]
          }) }}


<p class="govuk-!-margin-bottom-7"><a href="#" class="govuk-body-m">Add or change individual or organisation
  <span class="govuk-visually-hidden">Trust 123</span></a></p>


<h2 class="govuk-heading-l govuk-!-margin-bottom-2">Islands Trust</h2>

<p class="govuk-!-margin-bottom-3"><a href="#">Change or remove <span class="govuk-visually-hidden">Islands Trust</span></a></p>


<!---  <h3 class="govuk-heading-m">Who is involved in this trust?</h3>--->




{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-3',
  rows: [
  {
    key: {
      text: "Beneficial owner",
      visuallyHiddenText: "Beneficial owner - Sarah Doe from 17 July 2016"
    },
    value: {
      html: "Sarah Doe <br> from 17 July 2016"
    }
    }
  ,
    {
      key: {
        text: "Historical beneficial owner",
        visuallyHiddenText: "Beneficial owner - John Doe"
      },
      value: {
        html: "John Doe"
      }
      }
    ,
      {
        key: {
          text: "Individual settlor",
          visuallyHiddenText: "Individual settlor - Dave Mayhew"
        },
        value: {
          html: "Dave Mayhew"
        }
        }
      ,
        {
          key: {
            text: "Other legal entity",
            visuallyHiddenText: "Other legal entity - Islands Corp"
          },
          value: {
            text: "Islands Corp"
          }
    }
        ]
      }) }}

<p class="govuk-!-margin-bottom-7"><a href="#" class="govuk-body-m">Add or change individual or organisation
  <span class="govuk-visually-hidden">Islands Trust</span></a></p>





<div class="govuk-button-group govuk-!-margin-top-9">

          {{ govukButton({
            text: "Add another trust",
            href: "/register/trusts/trust-details"
          }) }}


          {{ govukButton({
            text: "No more trusts to add",
             classes: "govuk-button--secondary",
             href: '/register/check-answers'
          }) }}

</div>





      </form>


    </div>
  </div>
{% endblock %}
