{% extends "layout.html" %}

{% block pageTitle %}
  Add trust information for the beneficial owners – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}


  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You have added 1 trust
    </h3>
    <p class="govuk-body">Add information for another trust or select no more to add. </p>
  </div>
</div>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Add trust information for the beneficial owners</h1>

      <p class="govuk-body-m govuk-!-margin-bottom-6">If there are multiple trusts, you’ll need to add them one at a time. </p>

      <form class="form" action="/url/of/next/page" method="post">



        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "waste",
          name: "waste",
          fieldset: {
            legend: {
              text: "Who is involved in this trust?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "joe",
              text: "Joe Bloggs	"
            },
            {
              value: "jane",
              text: "Jane Doe"
            },
            {
              value: "acme",
              text: "Acme Limited"
            }
          ]
        }) }}







        <h2 class="govuk-heading-m">Enter trust information from the Trust Excel document</h2>
        {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "If you've already completed the Trust Excel document, follow the instructions in the document to paste the data into the box, then select add trust.",
          classes: "govuk-body",
          isPageHeading: false
        }
      }) }}


                    <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                I have not completed the Trust Excel document yet
                </span>
                </summary>
                <div class="govuk-details__text" id="more-detail" value="data.['more-detail']">
                <p class="govuk-body">Enter the trust information into the <a href="/public/pdf/TrustDataCapture.xlsm" class="govuk-link">Trust Excel document (52KB)</a>. Then follow the instructions in the document to paste the data into the box.</p>
                </div>
              </details>





      {{ govukInsetText({
        html: '
                  <h2 class="govuk-heading-m">Information shown on the public register</h2>
                  <p>None of the information you provide about the trust will be shown on the public Register of Overseas Entities. However, it may be shared with HMRC.</p>
                    '
      }) }}


      <div class="govuk-button-group">

        {{ govukButton({
          text: "Add trust",
          href: "/register/trusts/trust-details-upload"
        }) }}

    {{ govukButton({
          text: "No more to add",
          href: "/register/check-answers",
          classes: "govuk-button--secondary"
        }) }}
      </div>

      </form>

    </div>
  </div>

{% endblock %}
