{% extends "layout.html" %}

{% block pageTitle %}
  What types of individuals and organisations are involved in the trust? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




      <form class="form" action="/register/trusts/trust-involved" method="post">





        {{ govukRadios({
            idPrefix: "trustTypes",
            name: "trustTypes",
            fieldset: {
              legend: {
                text: "What types of individuals and organisations are involved in the trust?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "You can add more later."
            },
            items: [
              {
                value: "historical",
                text: "Historical beneficial owners of the overseas entity that were a trustee of this trust"
              },
              {
                value: "individual-trusts",
                text: "Individuals",
                hint: {
                    text: "These could be beneficiaries, settlors, grantors, or interested persons"
                  }
              },
              {
                value: "ole-trusts",
                text: "Other legal entities",
                hint: {
                  text: "These could be beneficiaries, settlors, grantors, or interested persons"
                  }
              }
                ]
          }) }}





          {{ govukButton({
            text: "Continue"
          }) }}

          </form>

    </div>
  </div>

{% endblock %}
