{% extends "layout.html" %}

{% block pageTitle %}

You need to assign beneficial owners to a trust
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">You need to submit trust information for beneficial owners</h1>



<!---{% set html %}
  <p class="govuk-notification-banner__heading">
    You have told us that one or more beneficial owners are involved in a trust.</a>
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

<!---
 <p class="govuk-body">
  You have told us that one or more beneficial owners are involved in a trust and we need to capture that information.
 </p>
 ---->



      <p class="govuk-body">You've told us about registrable beneficial owners that are a trustee of a trust but have not added information about the trust.  </p>
      <p class="govuk-body">You now need to tell us trust information for beneficial owners: </p>
      <ul class="govuk-body govuk-!-margin-bottom-5">
        <li>Jane Doe</li>
        <li>Joe Bloggs</li>
      </ul>
  


      {{ govukButton({
        text: "Continue",
        href: '/register/trusts/trust-assign-bo'
      }) }}


    </div>
  </div>

{% endblock %}
