{% extends "layout.html" %}

{% block pageTitle %}
  Individual grantors – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about the individual grantor</h1>
      <p class="govuk-caption-l govuk-!-margin-bottom-5 govuk-!-margin-top-5">You can add more individual grantors later.</p>

      <form class="form" method="post">


        {{ govukInput({
          label: {
            text: "What is their first name?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
          text: "This is also known as their given name. Include any professional or honorary titles, if relevant."
        },
          id: "grantor-individual-first-name",
          name: "grantor-individual-first-name"
        }) }}


        {{ govukInput({
          label: {
            text: "What is their last name?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
          text: "This is also known as their family name."
        },
          classes: "govuk-!-width-three-quarters",
          id: "grantor-individual-last-name",
          name: "grantor-individual-last-name"
        }) }}

                {{ govukDateInput({
                  id: "grantor-individual-dob",
                  namePrefix: "grantor-individual-dob",
                  fieldset: {
                    legend: {
                      text: "What is their date of birth?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  hint: {
                    text: "For example, 27 3 2007"
                  }
                }) }}

                {{ govukInput({
                  label: {
                    text: "What is their nationality?",
                    classes: "govuk-label--m",
                    isPageHeading: false
                  },
                  id: "grantor-individual-nationality",
                  name: "grantor-individual-nationality"
                }) }}

                {% call govukFieldset({
                  legend: {
                    text: "What is their home address?",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: false
                  }
                }) %}

                {{ govukInput({
                  label: {
                    html: 'Property name or number (optional)'
                  },
                  hint: {
                   text: "For example, 'The Mill', '116' or 'Flat 37a'"
                 },
                  id: "usual-residential-address-property-name-number",
                  name: "usual-residential-address-property-name-number"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Address line 1"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "usual-residential-address-line-1",
                  name: "usual-residential-address-line-1",
                  autocomplete: "address-line1"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Address line 2 (optional)"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "usual-residential-address-line-2",
                  name: "usual-residential-address-line-2",
                  autocomplete: "address-line2"
                }) }}

                {{ govukInput({
                  label: {
                    text: "City or town"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "usual-residential-address-city-town",
                  name: "usual-residential-address-city-town"
                }) }}

                {{ govukInput({
                  label: {
                    text: "County, state, province or region (optional)"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-state",
                  name: "service-address-state"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Country"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "usual-residential-address-country",
                  name: "usual-residential-address-country",
                  autocomplete: "country-name"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Postcode or ZIP"
                  },
                  classes: "govuk-input--width-10",
                  id: "usual-residential-address-postcode",
                  name: "usual-residential-address-postcode",
                  autocomplete: "postal-code"
                }) }}
                {% endcall %}

                {% set serviceAddressHtml %}
                <br>
                {% call govukFieldset({
                  legend: {
                    text: "What is their correspondence address?",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: false
                  }
                }) %}
                {{ govukInput({
                  label: {
                    html: 'Property name or number (optional)'
                  },
                  hint: {
                   text: "For example, 'The Mill', '116' or 'Flat 37a'"
                 },
                  id: "service-address-property-name-number",
                  name: "service-address-property-name-number"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Address line 1"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-line-1",
                  name: "service-address-line-1",
                  autocomplete: "address-line1"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Address line 2 (optional)"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-line-2",
                  name: "service-address-line-2",
                  autocomplete: "address-line2"
                }) }}

                {{ govukInput({
                  label: {
                    text: "City or town"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-city-town",
                  name: "service-address-city-town"
                }) }}

                {{ govukInput({
                  label: {
                    text: "County, state, province or region (optional)"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-state",
                  name: "service-address-state"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Country"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-country",
                  name: "service-address-country",
                  autocomplete: "country-name"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Postcode or ZIP"
                  },
                  classes: "govuk-input--width-10",
                  id: "service-address-postcode",
                  name: "service-address-postcode",
                  autocomplete: "postal-code"
                }) }}

                {% endcall %}
                {% endset -%}

                {{ govukRadios({
                  classes: "govuk-radios",
                  idPrefix: "same-address",
                  name: "same-address",
                  fieldset: {
                    legend: {
                      text: "Is their correspondence address the same as their home address?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                    {
                      value: "yes",
                      text: "Yes"
                    },
                    {
                      value: "no",
                      text: "No",
                      conditional: {
                html: serviceAddressHtml
                }
                    }
                  ]
                }) }}



        <h2 class="govuk-heading-m">What information is shown on the online register</h2>
        <p>None of the information provided on this screen will be shown on the public register.</p>

        {{ govukButton({
          text: "Add another individual grantors",
          href: "",
           classes: "govuk-button--secondary govuk-!-margin-top-6"
        }) }}

        {{ govukButton({
          text: "I do not need to add any more individual grantors",
          href: "/register/trusts/trust-grantors-ole"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
