{% extends "layout.html" %}

{% block pageTitle %}
  Tell us about the trust – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Tell us about the trust</h1>



      <form class="form" action="/url/of/next/page" method="post">
        {{ govukCheckboxes({
          idPrefix: "trust-disclaimer",
          name: "trust-disclaimer",
          fieldset: {
            legend: {
              text: "Declaration",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },

          items: [
            {
              value: "trust-statement",
              text: "To the best of the entity's knowledge, it has all the required information about the trust. "
            }
          ]
        }) }}


        {{ govukInput({


          label: {
            text: "What is the name of the trust?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "trust-name",
          name: "trust-name",
          hint: {
            text: "If the trust does not have a name, give a description that it can be identified by."
          }
        }) }}



        {{ govukDateInput({
          id: "trust-created",
          namePrefix: "trust-created",
          fieldset: {
            legend: {
              text: "When was the trust created?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}







          {{ govukInsetText({
            html: '
                      <h2 class="govuk-heading-m">Information shown on the public register</h2>
                      <p>None of the information you provide about the trust will be shown on the public Register of Overseas Entities. However, it may be shared with HMRC.</p>
                        '
          }) }}
        {{ govukButton({
          text: "Continue",
          href: "/register/trusts/trust-involved"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
