{% extends "layout.html" %}

{% block pageTitle %}
  Tell us about the trust – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Tell us about the trust</h1>

      <form class="form" action="/url/of/next/page" method="post">



        {{ govukInput({
          label: {
            text: "What is the name of the trust?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "trust-name",
          name: "trust-name"
        }) }}



        {{ govukDateInput({
          id: "trust-created",
          namePrefix: "trust-created",
          fieldset: {
            legend: {
              text: "When was the trust created?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}






        {{ govukCheckboxes({
            idPrefix: "trust-types",
            name: "trust-types",
            fieldset: {
              legend: {
                text: "What types of individuals and organisations are involved in the trust?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "historical",
                text: "Historical beneficial owners of the overseas entity that were a trustee of this trust"
              },
              {
                value: "individual-beneficiaries",
                text: "Individual beneficiaries"
              },
              {
                value: "ole-beneficiaries",
                text: "Other legal entity beneficiaries"
              },
              {
                value: "individual-settlers",
                text: "Individual settlers"
                },
                {
                  value: "ole-settlers",
                  text: "Other legal entity settlers"
                  },
                {
                  value: "individual-grantors",
                  text: "Individual grantors"
                  },
                  {
                    value: "ole-grantors",
                    text: "Other legal entity grantors"
                    },
                       {
                value: "individual-interested",
                text: "Individual interested persons"
                },
                     {
              value: "ole-interested",
              text: "Other legal entity interested persons"
              }
                ]
          }) }}


          {{ govukCheckboxes({
            idPrefix: "trust-disclaimer",
            name: "trust-disclaimer",
            fieldset: {
              legend: {
                text: "Disclaimer?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },

            items: [
              {
                value: "trust-statement",
                text: "A statement as to whether the entity has any reasonable cause to believe that there is required information about the trust that it has not been able to obtain"
              }
            ]
          }) }}


        <h2 class="govuk-heading-m">What information is shown on the online register</h2>
        <p>None of the information provided on this screen will be shown on the public register.</p>

        {{ govukButton({
          text: "Continue",
          href: "/register/trusts/trust-historical-beneficial-owner"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
