{% extends "layout.html" %}

{% block pageTitle %}
  What land or property you have added so far – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="" method="get">



      <h1 class="govuk-heading-xl">What <span class="govuk-visually-hidden"> land or property</span> you have added so far</h1>


      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Land disposal date"
          },
          {
            text: "Land title number"
          },
          {
            text: "",
            classes: ""
          }
        ],
        rows: [
          [
            {
              text: "28 May 2022"
            },
            {
              text: "CS72510"
            },
            {
              html: '<a href="/register/disposals/disposed-land">Change or remove <span class="govuk-visually-hidden">CS72510 / 28 May 2022</span></a>'
            }
          ],
          [
            {
              text: "10 Jun 2022"
            },
            {
              text: "YM39675"
            },
            {
              html: '<a href="/register/disposals/disposed-land">Change or remove <span class="govuk-visually-hidden">CS72510 / 28 May 2022</span></a>'
            }
          ]
        ]
      }) }}


    <div class="govuk-button-group govuk-!-margin-top-8">

        {{ govukButton({
          text: "Add property or land",
          href: "/register/disposals/disposed-land"
        }) }}

        {{ govukButton({
          text: "No more to add",
           classes: "govuk-button--secondary",
           href: "/register/disposals/changes-filter"
        }) }}
</div>


      </form>

    </div>
  </div>

{% endblock %}
