{% extends "layout.html" %}

{% block pageTitle %}
  Tell us about the entity at the time of the disposal – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/register/disposals/alt-disposed-select" method="get">

        <!--Only show the inset text if the user has answered Some or All to /register/sold-land-filter-->
        <!--Note, current intention is not to route users here is they select All - code added just in case-->

<span class="govuk-caption-xl">Joe Bloggs</span>
        {{ govukTextarea({
          name: "land-detail",
          id: "land-detail",
          value: "Joe's office address has changed. Previous address was: 12 King Road, Bedminster, Bristol BS3 4BA",
          label: {
            text: "What has changed about them?",
            classes: "govuk-label--xl",
            isPageHeading: true
          },
          hint: {
            text: "Tell us what information was different at the time of the disposal.
            You'll need to tell us what has changed, such as the overseas entity's name, and what it was at the time of the disposal."
          }
        }) }}




{{ govukInsetText({
  html: '
            <h2 class="govuk-heading-m">Information shown on the public register</h2>
            <p>All of the information provided in this section will be shown on the public Register of Overseas Entities.</p>
        '
}) }}


<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue",
    href: "/register/disposals/alt-disposed-select"
  }) }}

  {{ govukButton({
    text: "Remove",
    classes: "govuk-button--warning"
  }) }}
</div>


      </form>

    </div>
  </div>

{% endblock %}
