{% extends "layout.html" %}

{% block pageTitle %}
  What does this change relate to? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register/disposals/added-so-far" method="get">

           {{ govukRadios({
             classes: "govuk-radios",
             idPrefix: "changed-name",
             name: "changed-name",
             fieldset: {
               legend: {
                 text: "What does this change relate to?",
                 isPageHeading: true,
                 classes: "govuk-fieldset__legend--xl"
               }
             },
             hint: {
               text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
             },
             items: [
               {
                 value: "entity",
                 text: "Overseas entity"
               },
               {
                 value: "bojoebloggs",
                 text: "Beneficial owner - Joe Bloggs"
               },
               {
                 value: "mojanedoe",
                 text: "Managing officer - Jane Doe"
               },
               {
                 value: "no",
                   text: "No"
             },
             {
               value: "no",
                 text: "No"
           }
             ]
           }) }}




            {{ govukInsetText({
              html: '
                        <h2 class="govuk-heading-m">Information shown on the public register</h2>
                        <p>All of the information provided in this section will be shown on the public Register of Overseas Entities.</p>
                    '
            }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


        <form classes="form" action="/register/disposals/declaration" method="get">





      </form>

    </div>
  </div>

{% endblock %}
