{% extends "layout.html" %}

{% block pageTitle %}
  Tell us about the entity at the time of the disposal – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/register/disposals/declaration" method="get">


        {% if (data['soldLand'] === "some") or (data['soldLand'] === "all") %}
        <!--Only show the inset text if the user has answered Some or All to /register/sold-land-filter-->
        <!--Note, current intention is not to route users here is they select All - code added just in case-->

        {{ govukInsetText({
          text: "This includes any individuals or entities that were registrable beneficial owners of the overseas entity just before it disposed of its property or land.
          This also includes managing officers, if relevant."
        }) }}

{% endif %}


{{ govukTextarea({
  name: "land-detail",
  id: "land-detail",
  label: {
    text: "What has changed about them?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Tell us what information was different at the time of the disposal.
    You'll need to tell us what has changed, such as the overseas entity's name, and what it was at the time of the disposal."
  }
}) }}



{{ govukTextarea({
  name: "land-detail",
  id: "land-detail",
  label: {
    text: "Tell us about the former Beneficial officer",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Tell us what information was different at the time of the disposal.
    You'll need to tell us what has changed, such as the overseas entity's name, and what it was at the time of the disposal."
  }
}) }}



{{ govukTextarea({
  name: "land-detail",
  id: "land-detail",
  label: {
    text: "Tell us about the former Managing officer",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Tell us what information was different at the time of the disposal.
    You'll need to tell us what has changed, such as the overseas entity's name, and what it was at the time of the disposal."
  }
}) }}





{{ govukInsetText({
  html: '
            <h2 class="govuk-heading-m">Information shown on the public register</h2>
            <p>All of the information provided in this section will be shown on the public Register of Overseas Entities.</p>
        '
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
