{% extends "layout.html" %}

{% block pageTitle %}
  Tell us about the entity at the time of the disposal – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <!---  <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us additional information about the disposal</h1>
--->

<h1 class="govuk-heading-xl">Tell us about the entity at the time of the disposal</h1>


{{ govukTextarea({
  name: "land-detail",
  id: "land-detail",
  label: {
    isPageHeading: false
  },
  hint: {
    text: "Give us more details if the information you’ve provided about the overseas entity was different when the property or land was disposed of."
  }
}) }}

            {{ govukInsetText({
              html: '
                        <h2 class="govuk-heading-m">Information shown on the public register</h2>
                        <p>TBC.</p>
                          '
            }) }}

        {{ govukButton({
          text: "Continue",
          href: "/register/check-answers"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
