{% extends "layout.html" %}

{% block pageTitle %}
  Tell us about the entity at the time of the disposal – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/register/check-answers" method="get">



{{ govukTextarea({
  name: "land-detail",
  id: "land-detail",
  label: {
    text: "Tell us about the entity at the time of the disposal",
    classes: "govuk-label--xl",
    isPageHeading: true
  },
  hint: {
    text: "Give us more details if the information you’ve provided about the overseas entity was different when the property or land was disposed of."
  }
}) }}


{{ govukCheckboxes({
  idPrefix: "diligence",
  name: "diligence",
  fieldset: {
    legend: {
      text: "Declaration ",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "agree",
      text: "I confirm that this application includes all the information required under ...",
      checked: checked("diligence", "agree")
    }
  ]
}) }}


{{ govukInsetText({
  html: '
            <h2 class="govuk-heading-m">Information shown on the public register</h2>
            <p>All of the information provided in this section will be shown on the public Register of Overseas Entities.</p>
        '
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
