{% extends "layout.html" %}

{% block pageTitle %}

Are you sure you want to remove the land or property?
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="/register/disposals/added-so-far" method="get">


      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "removeLand",
        name: "removeLand",
        fieldset: {
          legend: {
            text: "Are you sure you want to remove the land or property?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "You cannot get this information back once it is removed."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}






      {{ govukButton({
        text: "Continue"
      }) }}
      </form>




    </div>
  </div>

{% endblock %}
