
<div style="width: 580px; margin: 50px auto 0;">


  <p>From: Companies House agentcode@companieshouse.gov.uk<br>
  Sent: Thursday, June 23, 2022 10:54 AM<br>
  To: Sarah Philips presenter@jmaccountants.com
  <br>
  Subject: Agent assurance code request accepted</p>

<br>
  <p>Dear Sarah,</p>

  <p>Your request for an agent assurance code has been accepted.</p>

  <p>Your agent assurance code is: AAC-MYC-5865</p>

  <p>You’ll need to provide this code when an overseas entity you’ve completed verification checks for is being registered.</p>

  <p>Do not share this code with anyone outside of your organisation.</p>

  <p>Do not reply to this email as we will not be monitoring responses.</p>

  <p>Companies House </p>

<br>


  <p>This message and any attachments are intended for the persons named as addressees only and may contain confidential information. In addition they may be protected by copyright. If you receive it in error, notify us, delete it and do not make use of or copy it. You must not copy, disseminate or otherwise distribute or publish this message, except for the purposes for which this message is intended, without our consent. Please note that this e-mail has been created in the knowledge that Internet e-mail is not a 100% secure communications medium. We advise that you understand and accept this lack of security when e-mailing us. For company information, guidance and how to file documents online, please see our website www.companieshouse.gov.uk. This message has been scanned for viruses by Hosted Security, a service from Websense.</p>



</div>
