
<div style="width: 580px; margin: 50px auto 0;">


<p>** Register an overseas entity: application accepted **</p>

<!---PLACEHOLDER EMAIL - PLEASE CHANGE CONTENT---->

<p>Name of overseas entity TEST INC.<br>
------------------------------------------------------- <br>
Application reference   HDJ2123F<br>
------------------------------------------------------- <br>
Overseas entity ID      OE013844</p>

<p>The overseas entity and its beneficial owners or managing officers have been added to the Register of Overseas Entities.</p>

<p>The Overseas Entity ID in this email will need to be provided to the Land Registry whenever the overseas entity buys, sells or transfers land or property in the UK.</p>

<p>When you register an overseas entity, you may find out that unpaid UK tax is due. Any tax that is owed must be paid. Contact HMRC at www.gov.uk/contact-hmrc to find out more.</p>

<p>Help us improve your online filing experience by completing our quick survey: www.survey.com/examplesurveylink</p>

<p>Contact Centre tel +44 (0)303 1234 500 or email enquiries@companieshouse.gov.uk.</p>

<p>This email was sent from a notification-only email address which cannot accept incoming mail. Please do not reply directly to this message.</p>



</div>
