{% extends "layout.html" %}
{% set serviceName %}
  Request an agent assurance code
{% endset%}
{% block pageTitle %}
  Confirmation – Request an agent assurance code - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/no-back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Request sent</h1>
        <div class="govuk-panel__body">
          Your reference number: <br><strong>392433-950223-102918</strong>
        </div>
      </div>



      <p>
        We have sent a confirmation email to <strong>presenter@jmaccountants.com</strong> which contains your reference number.
      </p>

<p>We'll send an email to let you know if your request has been accepted or rejected. We'll process the request as soon as possible. However, because this is a new service, we're not yet able to tell you exactly how long this will take.</p>



<p>If the request is accepted, we'll email you the agent assurance code. You’ll need to provide this code when an overseas entity you’ve completed identity checks for is being registered.</p>



<p>If the request is rejected, we'll email you to explain what to do next. </p>

      <p><a href="/register/start-merged-with-guidance">Register an overseas entity and tell us about its beneficial owners</p>

        <button onclick="window.print()" class="govuk-button govuk-button--secondary govuk-!-margin-top-3">Print this page</button>


    </div>
  </div>

{% endblock %}
