{% extends "layout.html" %}
{% set serviceName %}
  Request an authorisation code for the registration of overseas entities
{% endset%}
{% block pageTitle %}
  Confirmation – Request an authorisation code for the registration of overseas entities - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/no-back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Your authorisation code is <strong>CH-AC-12345678</strong> </h1>

      </div>



      <p>
        We have sent a confirmation email to <strong>jbloggs@example.com</strong> which contains your authorisation code.
      </p>

<p>You will need to provide this code to Companies House if you carry out identity checks on an overseas entity that is being registered on the Register of Overseas Entities.</p>

      <p><a href="/register/start-merged-with-guidance">Register an overseas entity and tell us about its beneficial owners</p>

        <button onclick="window.print()" class="govuk-button govuk-button--secondary govuk-!-margin-top-3">Print this page</button>


    </div>
  </div>

{% endblock %}
