{% extends "layout.html" %}
{% set serviceName %}
  Request an authorisation code for the registration of overseas entities
{% endset%}
{% block pageTitle %}
Request an authorisation code for the registration of overseas entities - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



  <h1 class="govuk-heading-xl">You cannot use this service</h1>

  <p>You can only request an authorisation code for the registration of overseas entities if you, or the company you work for, are a UK-regulated professional. </p>
  <p>UK-regulated professionals must be based in the UK and supervised under the Money Laundering, Terrorist Financing and Transfer of Funds Regulations 2017.</p> 





    </div>
  </div>

{% endblock %}
