{% extends "layout.html" %}
{% set serviceName %}
  Request an agent assurance code
{% endset%}
{% block pageTitle %}
  Start - Request an agent assurance code – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Request an agent assurance code
      </h1>

      <p>Use this service to request a code if you are a UK-regulated agent completing identity checks for overseas entities registering with Companies House.</p>

      <p>To request a code, you'll need to tell us:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the agent's name</li>
        <li>the correspondence address</li>
        <li>the email address</li>
        <li>the name of the supervisory body</li>
        <li>its Anti-Money Laundering (AML) number, if applicable</li>
      </ul>
      <p><a href="https://roe-v8.herokuapp.com/register/guidance-code" class="govuk-link">Read the guidance about agent assurance codes</a>.</p>

      <p>Requesting a code takes around 5 minutes.</p>


      <a href="relevant-person" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>


  </div>
{% endblock %}
