{% extends "layout.html" %}

{% block pageTitle %}
  Which types of beneficial owners have been identified? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register/beneficial-owner-individual" method="get">



<!--{{data|dump|safe}}-->

{% if (data['statements'] === "allIdentifiedAllSupplied") %}

<h1 class="govuk-heading-xl">Which type of beneficial owner do you want to add?</h1>


{{ govukRadios({
idPrefix: "boType",
name: "boType",
fieldset: {
  legend: {
    text: "",
    isPageHeading: false,
    classes: "govuk-fieldset__legend--m"
  }
},
hint: {
  text: "You can add more later."
},
items: [
  {
    value: "beneficialTypesIndividual",
    text: "Individual person",
    hint: {
        text: "You can add trust information in this section, if relevant."
      }
  },

  {
    value: "beneficialTypesOther",
    text: "Other legal entity",
    hint: {
        text: "You can add trust information in this section, if relevant."
      }

  },
  {
    value: "beneficialTypesGov",
    text: "Government or public authority"
  }
]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

{% elif (data['statements'] === "noneIdentified") %}

<h1 class="govuk-heading-xl">Which type of managing officer do you want to add?</h1>

{{ govukDetails({
  summaryText: "What is a managing officer?",
  text: "This is a director, manager or company secretary of the overseas entity."
}) }}


{{ govukRadios({
idPrefix: "boType",
name: "boType",
fieldset: {
  legend: {
    text: "Which type of managing officer do you want to add?",
    isPageHeading: false,
    classes: "govuk-visually-hidden"
  }
},
hint: {
  text: "You can add more later."
},
items: [
  {
    value: "moTypesIndividual",
    text: "Individual managing officer"
  },
  {
    value: "moTypesCorporate",
    text: "Corporate managing officer"
  }
]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

{% else %}

<h1 class="govuk-heading-xl">Which type of beneficial owner or managing officer do you want to add?</h1>

{{ govukDetails({
  summaryText: "What is a managing officer?",
  text: "This is a director, manager or company secretary of the overseas entity."
}) }}

{{ govukRadios({
idPrefix: "boType",
name: "boType",
fieldset: {
  legend: {
    text: "Which type of beneficial owner or managing officer do you want to add?",
    isPageHeading: false,
    classes: "govuk-visually-hidden"
  }
},
hint: {
  text: "You can add more later."
},
items: [
  {
    value: "beneficialTypesIndividual",
    text: "Individual beneficial owner",
    hint: {
      text: "You can add trust information in this section, if relevant.
"
    }
  },
  {
    value: "beneficialTypesOther",
    text: "Corporate beneficial owner",
    hint: {
      text: "You can add trust information in this section, if relevant.
"
    }

  },
  {
    value: "beneficialTypesGov",
    text: "Government or public authority beneficial owner"
  },
  {
    value: "moTypesIndividual",
    text: "Individual managing officer"
  },
  {
    value: "moTypesCorporate",
    text: "Corporate managing officer"
  }
]
}) }}


{{ govukButton({
  text: "Continue"
}) }}

{% endif %}

<!--
  {% set yesOwnerHtml %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          What beneficial owners does the overseas entity have?
        </h1>
      </legend>
      <div id="waste-hint" class="govuk-hint">
        Select all that apply.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="beneficial" name="beneficial" type="checkbox" value="individual">
          <label class="govuk-label govuk-checkboxes__label" for="beneficial">
          An individual beneficial owner
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="beneficial-2" name="beneficial" type="checkbox" value="other">
          <label class="govuk-label govuk-checkboxes__label" for="beneficial-2">
          A corporate beneficial owner
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="beneficial-3" name="beneficial" type="checkbox" value="other">
          <label class="govuk-label govuk-checkboxes__label" for="beneficial-3">
          A government or public authority beneficial owner
          </label>
        </div>
      </div>

    </fieldset>
  </div>
{% endset -%}


{{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "Can you identify at least one beneficial owner of the overseas entity?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: yesOwnerHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

-->


      </form>

    </div>
  </div>

{% endblock %}
