{% extends "layout.html" %}

{% block pageTitle %}
  Corporate beneficial owner – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about the corporate beneficial owner</h1>
      <p class="govuk-caption-l  govuk-!-margin-bottom-5 govuk-!-margin-top-5">You can add more corporate beneficial owners later.</p>

      <form class="form" method="post">

        {{ govukDetails({
          summaryText: "What is a corporate beneficial owner?",
          text: "This is a beneficial owner that is a legal entity, such as a company or a partnership."
        }) }}

        {{ govukInput({
          label: {
            text: "What is its name?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "bo-corp-name",
          name: "bo-corp-name"
        }) }}
        {% call govukFieldset({
          legend: {
            text: "What is its principal or registered office address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Property name or number (optional)'
          },
          hint: {
           text: "For example, 'The Mill', '116' or 'Flat 37a'"
         },
          id: "bo-corp-principal-address-property-name-number",
          name: "bo-corp-principal-address-property-name-number"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-principal-address-line-1",
          name: "bo-corp-principal-address-line-1",
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-principal-address-line-2",
          name: "bo-corp-principal-address-line-2",
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "City or town"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-principal-address-city-town",
          name: "bo-corp-principal-address-city-town"
        }) }}

        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-principal-address-state",
          name: "bo-corp-principal-address-state"
        }) }}

        {{ govukInput({
          label: {
            text: "Country"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-principal-address-country",
          name: "bo-corp-principal-address-country",
          autocomplete: "country-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or ZIP"
          },
          classes: "govuk-input--width-10",
          id: "bo-corp-principal-address-postcode",
          name: "bo-corp-principal-address-postcode",
          autocomplete: "postal-code"
        }) }}
        {% endcall %}

        {% set serviceAddressHtml %}
        <br>
        {% call govukFieldset({
          legend: {
            text: "What is its correspondence address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Property name or number (optional)'
          },
          hint: {
           text: "For example, 'The Mill', '116' or 'Flat 37a'"
         },
          id: "bo-corp-service-address-property-name-number",
          name: "bo-corp-service-address-property-name-number"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-service-address-line-1",
          name: "bo-corp-service-address-line-1",
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-service-address-line-2",
          name: "bo-corp-service-address-line-2",
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "City or town"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-service-address-city-town",
          name: "bo-corp-service-address-city-town"
        }) }}

        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-service-address-state",
          name: "bo-corp-service-address-state"
        }) }}

        {{ govukInput({
          label: {
            text: "Country"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-service-address-country",
          name: "bo-corp-service-address-country",
          autocomplete: "country-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or ZIP"
          },
          classes: "govuk-input--width-10",
          id: "bo-corp-service-address-postcode",
          name: "bo-corp-service-address-postcode",
          autocomplete: "postal-code"
        }) }}

        {% endcall %}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "bo-corp-same-address",
          name: "bo-corp-same-address",
          fieldset: {
            legend: {
              text: "Is its correspondence address the same as its principal or registered office address?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              conditional: {
        html: serviceAddressHtml
        }
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "What is its legal form?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
           text: "For example, limited company or partnership."
         },
          id: "bo-corp-legal-form",
          name: "bo-corp-legal-form"
        }) }}


                {{ govukInput({
                  label: {
                    text: "What is the governing law?",
                    classes: "govuk-label--m",
                    isPageHeading: false
                  },
                  hint: {
                   text: "This is the law that the beneficial owner operates under."
                 },
                  id: "bo-corp-governing-law",
                  name: "bo-corp-governing-law"
                }) }}




        {% set entityPublicRegisterHtml %}
        {{ govukInput({
          id: "bo-corp-public-register-name",
          name: "bo-corp-public-register-name",
          hint: {
           text: "Include its jurisdiction. For example, Hong Kong or State of Delaware."
         },
          label: {
            text: "Enter the name of the register"
          }
        }) }}
        {{ govukInput({
          id: "bo-corp-public-register-number",
          name: "bo-corp-public-register-number",
          classes: "govuk-!-width-one-half",
          label: {
            text: "Enter it's registration number"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "bo-corp-public-register",
          name: "bo-corp-public-register",
          fieldset: {
            legend: {
              text: "Is it already on a public register in its country of incorporation?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: entityPublicRegisterHtml
              }
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}





        {{ govukDateInput({
          id: "bo-corp-startdate",
          namePrefix: "bo-corp-startdate",
          fieldset: {
            legend: {
              text: "When did it become a beneficial owner for the overseas entity?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}

        {{ govukCheckboxes({
  idPrefix: "bo-corp-nature-of-control",
  name: "bo-corp-nature-of-control",
  fieldset: {
    legend: {
      text: "What is its nature of control?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
  {
    value: "shares",
    text: "It holds more than 25% of shares in the overseas entity"
  },
  {
    value: "voting",
    text: "It holds more than 25% of the voting rights in the overseas entity"
  },
  {
    value: "appoint",
    text: "It holds the right to appoint or remove a majority of the board of directors of the overseas entity"
  },
  {
    value: "influence",
    text: "They have the right to exercise significant influence or control over the overseas entity"
  },
  {
    value: "trust",
    text: "They are the trustee of a trust",
    hint: {
      text: "You will need to provide information about the trust later in this service."
    }
  }
]
}) }}



{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "bo-corp-sanctions",
  name: "bo-corp-sanctions",
  fieldset: {
    legend: {
      text: "Is it on the sanctions list?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}


                <h2 class="govuk-heading-m">What information is shown on the online register</h2>
        <p>All information provided on this screen about the corporate beneficial owner will be available on the public register.</p>


        {{ govukButton({
          text: "Add another corporate beneficial owner",
          href: "",
           classes: "govuk-button--secondary govuk-!-margin-top-6"
        }) }}

        {{ govukButton({
          text: "I do not need to add any more corporate beneficial owners",
          href: "/register/beneficial-owner-gov"
        }) }}




      </form>

    </div>
  </div>

{% endblock %}
