{% extends "layout.html" %}

{% block pageTitle %}
  Which types of beneficial owners have been identified? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register/beneficial-owner-individual" method="get">

        {% if (data['statements'] === "allIdentifiedAllSupplied") %}

        <h1 class="govuk-heading-xl">Which type of beneficial owner do you want to add?</h1>


        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You can add more later."
        },
        items: [
          {
            value: "beneficialTypesIndividual",
            text: "Individual person"
          },
          {
            value: "beneficialTypesOther",
            text: "Other legal entity"

          },
          {
            value: "beneficialTypesGov",
            text: "Government or public authority"
          }
        ]
        }) }}

        {{ govukButton({
          text: "Add"
        }) }}



        <h2 class="govuk-heading-l">What you have added so far:</h2>

        {{ govukTable({
          caption: "Beneficial owners",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
          {
            text: "Name",
            classes: "govuk-visually-hidden"
          },
          {
            text: "Type",
            classes: "govuk-visually-hidden"
          },
            {
              text: "Change or remove",
              classes: "govuk-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "Joe Bloggs"
              },
              {
                text: "Individual"
              },
              {
                html: '<a href="beneficial-owner-individual-completed">Change or remove</a>'
              }
             ],
             [
               {
                text: "ACME EXAMPLE"
              },
              {
                text: "Other legal entity"
              },
              {
                html: '<a href="">Change or remove</a>'
              }
            ]

          ]
        }) }}



        {% elif (data['statements'] === "noneIdentified") %}

        <h1 class="govuk-heading-xl">Which type of managing officer do you want to add?</h1>

        {{ govukDetails({
          summaryText: "What is a managing officer?",
          text: "To be confirmed"
        }) }}


        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "Which type of managing officer do you want to add?",
            isPageHeading: false,
            classes: "govuk-visually-hidden"
          }
        },
        hint: {
          text: "You can add more later."
        },
        items: [
          {
            value: "moTypesIndividual",
            text: "Individual managing officer"
          },
          {
            value: "moTypesCorporate",
            text: "Corporate managing officer"
          }
        ]
        }) }}

        {{ govukButton({
          text: "Add"
        }) }}


                <h2 class="govuk-heading-l">What you have added so far:</h2>




                {{ govukTable({
                  caption: "Managing officers",
                  captionClasses: "govuk-table__caption--m",
                  firstCellIsHeader: true,
                  head: [
                  {
                    text: "Name",
                    classes: "govuk-visually-hidden"
                  },
                  {
                    text: "Type",
                    classes: "govuk-visually-hidden"
                  },
                    {
                      text: "Change or remove",
                      classes: "govuk-visually-hidden"
                    }
                  ],
                  rows: [
                   [
                     {
                      text: "Jane Doe"
                    },
                    {
                      text: "Individual"
                    },
                    {
                      html: '<a href="">Change or remove</a>'
                    }
                  ]
                  ]
                }) }}

        {% else %}

        <h1 class="govuk-heading-xl">Which type of beneficial owner or managing officer do you want to add?</h1>

        {{ govukDetails({
          summaryText: "What is a managing officer?",
          text: "To be confirmed"
        }) }}

        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "Which type of beneficial owner or managing officer do you want to add?",
            isPageHeading: false,
            classes: "govuk-visually-hidden"
          }
        },
        hint: {
          text: "You can add more later."
        },
        items: [
          {
            value: "beneficialTypesIndividual",
            text: "Individual beneficial owner"
          },
          {
            value: "beneficialTypesOther",
            text: "Other legal entity beneficial owner"

          },
          {
            value: "beneficialTypesGov",
            text: "Government or public authority beneficial owner"
          },
          {
            value: "moTypesIndividual",
            text: "Individual managing officer"
          },
          {
            value: "moTypesCorporate",
            text: "Corporate managing officer"
          }
        ]
        }) }}


        {{ govukButton({
          text: "Add"
        }) }}


                <h2 class="govuk-heading-l">What you have added so far:</h2>

                {{ govukTable({
                  caption: "Beneficial owners",
                  captionClasses: "govuk-table__caption--m",
                  firstCellIsHeader: true,
                  head: [
                  {
                    text: "Name",
                    classes: "govuk-visually-hidden"
                  },
                  {
                    text: "Type",
                    classes: "govuk-visually-hidden"
                  },
                    {
                      text: "Change or remove",
                      classes: "govuk-visually-hidden"
                    }
                  ],
                  rows: [
                    [
                      {
                        text: "Joe Bloggs"
                      },
                      {
                        text: "Individual"
                      },
                      {
                        html: '<a href="beneficial-owner-individual-completed">Change or remove</a>'
                      }
                     ],
                     [
                       {
                        text: "ACME EXAMPLE"
                      },
                      {
                        text: "Other legal entity"
                      },
                      {
                        html: '<a href="">Change or remove</a>'
                      }
                    ]
                  ]
                }) }}




        {% endif %}




<p>
{{ govukButton({
  text: "No more to add",
   classes: "govuk-button--secondary",
   href: '/register/trusts/trust-details'
}) }}
</p>

      </form>

    </div>
  </div>

{% endblock %}
