{% extends "layout.html" %}

{% block pageTitle %}
  Which types of beneficial owners have been identified? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register/check-answers" method="post">

        <h1 class="govuk-heading-l">You now need to tell us about beneficial owners and managing officers</h1>

        {{ govukDetails({
          summaryText: "What is a managing officer?",
          text: "Here"
        }) }}

        {{ govukRadios({
        idPrefix: "type",
        name: "type",
        fieldset: {
          legend: {
            text: "Select the type of beneficial owner or managing officer you want to add",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You can add more later"
        },
        items: [
          {
            value: "beneficialTypesIndividual",
            text: "Individual beneficial owner"
          },
          {
            value: "beneficialTypesOther",
            text: "Other legal entity beneficial owner"

          },
          {
            value: "beneficialTypesGov",
            text: "Government or public authority beneficial owner"
          },
          {
            value: "moTypesIndividual",
            text: "Individual managing officer"
          },
          {
            value: "moTypesCorporate",
            text: "Corporate managing officer"
          }
        ]
        }) }}



{{ govukButton({
  text: "Add",
  href: "/register/managing-officer-corporate"
}) }}



{{ govukTable({
  caption: "What you have added so far:",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Type",
      classes: "govuk-visually-hidden"
    },
    {
      text: "Name",
      classes: "govuk-visually-hidden"
    },
    {
      text: "Change or remove",
      classes: "govuk-visually-hidden"
    }
  ],
  rows: [
    [
      {
        text: "Individual"
      },
      {
        text: "Joe Bloggs"
      },
      {
        html: '<a href="">Change or remove</a>'
      }
     ],
     [
       {
        text: "An other legal entity"
      },
      {
        text: "An example here"
      },
      {
        html: '<a href="">Change or remove</a>'
      }
    ],
    [
      {
       text: "Government or public authority"
     },
     {
       text: "An example here"
     },
     {
       html: '<a href="">Change or remove</a>'
     }
   ],
   [
     {
      text: "Individual managing officer"
    },
    {
      text: "An example here"
    },
    {
      html: '<a href="">Change or remove</a>'
    }
  ],
  [
    {
     text: "Corporate managing officer"
   },
   {
     text: "An example here"
   },
   {
     html: '<a href="">Change or remove</a>'
   }
 ]
  ]
}) }}


<p>
{{ govukButton({
  text: "I do not need to add any more",
   classes: "govuk-button--secondary"
}) }}
</p>

      </form>

    </div>
  </div>

{% endblock %}
