{% extends "layout.html" %}

{% block pageTitle %}
  Which types of beneficial owners have been identified? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register/beneficial-owner-individual" method="get">



<!--{{data|dump|safe}}-->
{% if (data['statements'] === "allIdentifiedAllSupplied") %}

<h1 class="govuk-heading-xl">Which type of beneficial owner do you want to add?</h1>


{{ govukRadios({
idPrefix: "boType",
name: "boType",
fieldset: {
  legend: {
    text: "",
    isPageHeading: false,
    classes: "govuk-fieldset__legend--m"
  }
},
hint: {
  text: "You can add more later."
},
items: [
{
  value: "beneficialTypesIndividual",
  text: "Individual beneficial owner",
  checked: checked("boType", "beneficialTypesIndividual")
},
{
  value: "beneficialTypesOther",
  text: "Other legal entity beneficial owner",
  checked: checked("boType", "beneficialTypesOther")
},
{
  value: "beneficialTypesGov",
  text: "Government or public authority beneficial owner",
  checked: checked("boType", "beneficialTypesGov")
}
]
}) }}

{% elif (data['statements'] === "noneIdentified") %}

<h1 class="govuk-heading-xl">Which type of managing officer do you want to add?</h1>

{{ govukDetails({
  summaryText: "What is a managing officer?",
  text: "This is a director, manager or company secretary of the overseas entity."
}) }}


{{ govukRadios({
idPrefix: "boType",
name: "boType",
fieldset: {
  legend: {
    text: "Which type of managing officer do you want to add?",
    isPageHeading: false,
    classes: "govuk-visually-hidden"
  }
},
hint: {
  text: "You can add more later."
},
items: [
  {
    value: "moTypesIndividual",
    text: "Individual managing officer",
    checked: checked("boType", "moTypesIndividual")
  },
  {
    value: "moTypesCorporate",
    text: "Corporate managing officer",
    checked: checked("boType", "moTypesCorporate")
  }
]
}) }}

{% else %}

<h1 class="govuk-heading-xl">Which type of beneficial owner or managing officer do you want to add?</h1>

{{ govukDetails({
  summaryText: "What is a managing officer?",
  text: "This is a director, manager or company secretary of the overseas entity."
}) }}

{{ govukRadios({
idPrefix: "boType",
name: "boType",
fieldset: {
  legend: {
    text: "Which type of beneficial owner or managing officer do you want to add?",
    isPageHeading: false,
    classes: "govuk-visually-hidden"
  }
},
hint: {
  text: "You can add more later."
},
items: [
  {
    value: "beneficialTypesIndividual",
    text: "Individual beneficial owner",
    checked: checked("boType", "beneficialTypesIndividual")
  },
  {
    value: "beneficialTypesOther",
    text: "Other legal entity beneficial owner",
    checked: checked("boType", "beneficialTypesOther")
  },
  {
    value: "beneficialTypesGov",
    text: "Government or public authority beneficial owner",
    checked: checked("boType", "beneficialTypesGov")
  },
  {
    value: "moTypesIndividual",
    text: "Individual managing officer",
    checked: checked("boType", "moTypesIndividual")
  },

  {
    value: "moTypesCorporate",
    text: "Corporate managing officer",
    checked: checked("boType", "moTypesCorporate")
  }
]
}) }}

{% endif %}

{{ govukButton({
  text: "Continue"
}) }}

</form>

</div>
</div>

{% endblock %}
