{% extends "layout.html" %}

{% block pageTitle %}
  Title here – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form>

<!--{{data|dump|safe}}-->

{% if (data['statements'] === "allIdentifiedAllSupplied") %}



  {{ govukCheckboxes({
  idPrefix: "beneficialTypes",
  name: "beneficialTypes",
  fieldset: {
    legend: {
      text: "Which types of beneficial owners?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "beneficialTypesIndividual",
      text: "Individual beneficial owners",
      hint: {
        text: "Hint"
      }
    },
    {
      value: "beneficialTypesOther",
      text: "Other legal entity beneficial owners",
      hint: {
        text: "Hint"
      }
    },
    {
      value: "beneficialTypesGov",
      text: "Government or public authority beneficial owners",
      hint: {
        text: "Hint"
      }
    }
  ]
}) }}


{% elif (data['statements'] === "noneIdentified") %}



{{ govukCheckboxes({
idPrefix: "moTypes",
name: "moTypes",
fieldset: {
  legend: {
    text: "Which types of managing officers?",
    isPageHeading: false,
    classes: "govuk-fieldset__legend--l"
  }
},
hint: {
  text: "Select all that apply."
},
items: [
  {
    value: "moTypesIndividual",
    text: "Individual managing officers",
    hint: {
      text: "Hint"
    }
  },
  {
    value: "moTypesCorporate",
    text: "Corporate managing officers",
    hint: {
      text: "Hint"
    }
  }
]
}) }}

{% else %}


{{ govukCheckboxes({
idPrefix: "beneficialTypes",
name: "beneficialTypes",
fieldset: {
  legend: {
    text: "Which types of beneficial owners?",
    isPageHeading: false,
    classes: "govuk-fieldset__legend--l"
  }
},
hint: {
  text: "Select all that apply."
},
items: [
  {
    value: "beneficialTypesIndividual",
    text: "Individual beneficial owners",
    hint: {
      text: "Hint"
    }
  },
  {
    value: "beneficialTypesOther",
    text: "Other legal entity beneficial owners",
    hint: {
      text: "Hint"
    }
  },
  {
    value: "beneficialTypesGov",
    text: "Government or public authority beneficial owners",
    hint: {
      text: "Hint"
    }
  }
]
}) }}

{{ govukCheckboxes({
idPrefix: "moTypes",
name: "moTypes",
fieldset: {
  legend: {
    text: "Which types of managing officers?",
    isPageHeading: false,
    classes: "govuk-fieldset__legend--l"
  }
},
hint: {
  text: "Select all that apply."
},
items: [
  {
    value: "moTypesIndividual",
    text: "Individual managing officers",
    hint: {
      text: "Hint"
    }
  },
  {
    value: "moTypesCorporate",
    text: "Corporate managing officers",
    hint: {
      text: "Hint"
    }
  }
]
}) }}

{% endif %}

<!--
  {% set yesOwnerHtml %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          What beneficial owners does the overseas entity have?
        </h1>
      </legend>
      <div id="waste-hint" class="govuk-hint">
        Select all that apply.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="beneficial" name="beneficial" type="checkbox" value="individual">
          <label class="govuk-label govuk-checkboxes__label" for="beneficial">
          An individual beneficial owner
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="beneficial-2" name="beneficial" type="checkbox" value="other">
          <label class="govuk-label govuk-checkboxes__label" for="beneficial-2">
          A corporate beneficial owner
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="beneficial-3" name="beneficial" type="checkbox" value="other">
          <label class="govuk-label govuk-checkboxes__label" for="beneficial-3">
          A government or public authority beneficial owner
          </label>
        </div>
      </div>

    </fieldset>
  </div>
{% endset -%}


{{ govukRadios({
  idPrefix: "contact",
  name: "contact",
  fieldset: {
    legend: {
      text: "Can you identify at least one beneficial owner of the overseas entity?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: yesOwnerHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

-->

      {{ govukButton({
        text: "Continue",
        href: "/register/beneficial-owner-individual"
      }) }}
      </form>

    </div>
  </div>

{% endblock %}
