{% extends "layout.html" %}

{% block pageTitle %}
  Corporate beneficial owner – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-xl">Beneficial owner</span>
      <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about the other legal entity</h1>
      <p class="govuk-!-margin-bottom-5 govuk-!-margin-top-5">You can add more later.</p>

      <form class="form" method="post">



        {{ govukInput({
          label: {
            text: "What is its name?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "bo-corp-name",
          name: "bo-corp-name"
        }) }}
        {% call govukFieldset({
          legend: {
            text: "What is its principal or registered office address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Property name or number (optional)'
          },
          hint: {
           text: "For example, 'Saron House', '116' or 'Unit 37a'"
         },
          id: "bo-corp-principal-address-property-name-number",
          name: "bo-corp-principal-address-property-name-number"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-principal-address-line-1",
          name: "bo-corp-principal-address-line-1",
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-principal-address-line-2",
          name: "bo-corp-principal-address-line-2",
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "City or town"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-principal-address-city-town",
          name: "bo-corp-principal-address-city-town"
        }) }}

        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-principal-address-state",
          name: "bo-corp-principal-address-state"
        }) }}

        <div class="govuk-form-group">
           <label for="autocomplete-default" class="govuk-label">Country</label>
          <p class="govuk-hint">Start typing a country, then choose from the list</p>
          <div id="country" class="autocomplete-wrapper"></div>
        </div>

        {{ govukInput({
          label: {
            text: "Postcode or ZIP code (if applicable)"
          },
          classes: "govuk-input--width-10",
          id: "bo-corp-principal-address-postcode",
          name: "bo-corp-principal-address-postcode",
          autocomplete: "postal-code"
        }) }}
        {% endcall %}

        {% set serviceAddressHtml %}
        <br>
        {% call govukFieldset({
          legend: {
            text: "What is its correspondence address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Property name or number (optional)'
          },
          hint: {
           text: "For example, 'Saron House', '116' or 'Unit 37a'"
         },
          id: "bo-corp-service-address-property-name-number",
          name: "bo-corp-service-address-property-name-number"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-service-address-line-1",
          name: "bo-corp-service-address-line-1",
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-service-address-line-2",
          name: "bo-corp-service-address-line-2",
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "City or town"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-service-address-city-town",
          name: "bo-corp-service-address-city-town"
        }) }}

        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "bo-corp-service-address-state",
          name: "bo-corp-service-address-state"
        }) }}

        <div class="govuk-form-group">
           <label for="autocomplete-default" class="govuk-label">Country</label>
          <p class="govuk-hint">Start typing a country, then choose from the list</p>
          <div id="country-2" class="autocomplete-wrapper"></div>
        </div>

        {{ govukInput({
          label: {
            text: "Postcode or ZIP code (if applicable)"
          },
          classes: "govuk-input--width-10",
          id: "bo-corp-service-address-postcode",
          name: "bo-corp-service-address-postcode",
          autocomplete: "postal-code"
        }) }}

        {% endcall %}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "bo-corp-same-address",
          name: "bo-corp-same-address",
          fieldset: {
            legend: {
              text: "Is its correspondence address the same as its principal or registered office address?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              conditional: {
        html: serviceAddressHtml
        }
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "What is its legal form?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
           text: "For example, limited company"
         },
          id: "bo-corp-legal-form",
          name: "bo-corp-legal-form"
        }) }}


                {{ govukInput({
                  label: {
                    text: "What is the governing law?",
                    classes: "govuk-label--m",
                    isPageHeading: false
                  },
                  hint: {
                   text: "This is the law that the beneficial owner operates under"
                 },
                  id: "bo-corp-governing-law",
                  name: "bo-corp-governing-law"
                }) }}




        {% set entityPublicRegisterHtml %}
        {{ govukInput({
          id: "bo-corp-public-register-name",
          name: "bo-corp-public-register-name",
          hint: {
           text: "Include its jurisdiction. For example, Hong Kong or State of Delaware."
         },
          label: {
            text: "Name of register"
          }
        }) }}
        {{ govukInput({
          id: "bo-corp-public-register-number",
          name: "bo-corp-public-register-number",
          classes: "govuk-!-width-one-half",
          label: {
            text: "Entity's registration number"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "bo-corp-public-register",
          name: "bo-corp-public-register",
          fieldset: {
            legend: {
              text: "Is the other legal entity already on a public register in the country it was formed in?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: entityPublicRegisterHtml
              }
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}





        {{ govukDateInput({
          id: "bo-corp-startdate",
          namePrefix: "bo-corp-startdate",
          fieldset: {
            legend: {
              text: "When did it become a beneficial owner for the overseas entity?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}

        {% call govukFieldset({
          legend: {
            text: "What is its nature of control?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukCheckboxes({
            idPrefix: "bo-noc-individual",
            name: "bo-noc-individual",
            fieldset: {
              legend: {
                text: "The beneficial owner:",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--s"
              }
            },

            items: [
              {
                value: "noc-individual-shares",
                text: "holds, directly or indirectly, more than 25% of the shares in the entity"
              },
              {
                value: "noc-individual-voting",
                text: "holds, directly or indirectly, more than 25% of the voting rights in the entity"
              },
              {
                value: "noc-individual-board",
                text: "holds the right, directly or indirectly, to appoint or remove a majority of the board of directors of the entity"
              },
              {
                value: "noc-individual-influence",
                text: "has the right to exercise, or actually exercises, significant influence or control over the entity"
              }
            ]
          }) }}



          {{ govukCheckboxes({
              idPrefix: "bo-noc-trust",
              name: "bo-noc-trust",
              fieldset: {
                legend: {
                  text: "The beneficial owner is a trustee of a trust and:",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },

              items: [
                {
                  value: "noc-trusts-shares",
                  text: "the trustees of that trust (in their capacity as such) hold, directly or indirectly, more than 25% of the shares in the entity"
                },
                {
                  value: "noc-trusts-voting",
                  text: "the trustees of that trust (in their capacity as such) hold, directly or indirectly, more than 25% of the voting rights in the entity"
                },
                {
                  value: "noc-trusts-board",
                  text: "the trustees of that trust (in their capacity as such) hold the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company"
                },
                {
                  value: "noc-trusts-influence",
                  text: "the trustees of that trust (in their capacity as such) have the right to exercise, or actually exercise, significant influence or control over the company"
                }
              ]
            }) }}

            <div id="conditional">
            <h2 class="govuk-heading-m">Enter trust information</h2>

            {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            label: {
              text: "If you've already completed the trust information document, follow the instructions in the document to paste the information into the box:",
              classes: "govuk-body",
              isPageHeading: false
            }

            }) }}

            <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            I have not completed the trust information document yet
            </span>
            </summary>
            <div class="govuk-details__text">
            <p class="govuk-body">Enter the trust information into the <a href="/public/pdf/TrustDataCapture.xlsm" class="govuk-link">Trust information document (Excel 52KB)</a>. Be aware that this service will time out after 60 minutes of inactivity and your answers will not be saved.</p>
            </div>
            </details>
            </div>

            {{ govukCheckboxes({
                idPrefix: "bo-noc-firms",
                name: "bo-noc-firms",
                fieldset: {
                  legend: {
                    text: "The beneficial owner is a member of a firm that is not a legal person under its governing law, and:",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },

                items: [
                  {
                    value: "noc-firm-shares",
                    text: "the members of that firm (in their capacity as such) hold, directly or indirectly, more than 25% of the shares in the entity"
                  },
                  {
                    value: "noc-firm-voting",
                    text: "the members of that firm (in their capacity as such) hold, directly or indirectly, more than 25% of the voting rights in the entity"
                  },
                  {
                    value: "noc-firm-board",
                    text: "the members of that firm (in their capacity as such) hold the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company"
                  },
                  {
                    value: "noc-firm-influence",
                    text: "the members of that firm (in their capacity as such) have the right to exercise, or actually exercise, significant influence or control over the company"
                  }
                ]
              }) }}


              {% endcall %}



  {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "owner-sanctions",
  name: "owner-sanctions",
  fieldset: {
    legend: {
      text: "Is it on the sanctions list?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "This means that it is subject to sanctions under the Sanctions and Anti-Money Laundering Act 2018."
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
  }) }}

  {{ govukInsetText({
    html: '
              <h2 class="govuk-heading-m">Information shown on the public register</h2>
              <p>All information provided in this section about the other legal entity will be shown on the public Register of Overseas Entities.</p>
                '
  }) }}




        {{ govukButton({
          text: "Continue",
          href: "/register/beneficial-owner-type-two-added"
        }) }}




      </form>

    </div>
  </div>

{% endblock %}
