{% extends "layout.html" %}

{% block pageTitle %}
  Which types of beneficial owners have been identified? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register/beneficial-owner-individual" method="get">


        {% if (data['statements'] === "allIdentifiedAllSupplied") %}


        <h1 class="govuk-heading-l">What <span class="govuk-visually-hidden"> benefical owners</span> you have added so far:</h1>

        {{ govukTable({
          caption: "Beneficial owners",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
          {
            text: "Name",
            classes: "govuk-visually-hidden"
          },
          {
            text: "Type",
            classes: "govuk-visually-hidden"
          },
            {
              text: "Change or remove",
              classes: "govuk-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "Joe Bloggs"
              },
              {
                text: "Individual"
              },
              {
                html: '<a href="beneficial-owner-individual-completed">Change or remove <span class="govuk-visually-hidden">Joe Bloggs</span></a>'
              }
             ]
          ]
        }) }}


        <h2 class="govuk-heading-xl  govuk-!-margin-top-9 govuk-!-margin-bottom-5">Which type of beneficial owner do you want to add?</h2>

        <div class="govuk-inset-text">


        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "You can add more later."
        },
        items: [
          {
            value: "beneficialTypesIndividual",
            text: "Individual person"
          },
          {
            value: "beneficialTypesOther",
            text: "Other legal entity"

          },
          {
            value: "beneficialTypesGov",
            text: "Government or public authority"
          }
        ]
        }) }}





        {% elif (data['statements'] === "noneIdentified") %}

        <h1 class="govuk-heading-l">What <span class="govuk-visually-hidden"> managing officers</span> you have added so far:</h1>

        {{ govukTable({
          caption: "Beneficial owners",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
          {
            text: "Name",
            classes: "govuk-visually-hidden"
          },
          {
            text: "Type",
            classes: "govuk-visually-hidden"
          },
            {
              text: "Change or remove",
              classes: "govuk-visually-hidden"
            }
          ],
          rows: [
            [
              {
                text: "Joe Bloggs"
              },
              {
                text: "Individual"
              },
              {
                html: '<a href="beneficial-owner-individual-completed">Change or remove <span class="govuk-visually-hidden">Joe Bloggs</span></a>'
              }
             ]
          ]
        }) }}


        <h2 class="govuk-heading-xl  govuk-!-margin-top-9  govuk-!-margin-bottom-52">Which type of managing officer do you want to add?</h2>



        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "Which type of managing officer do you want to add?",
            isPageHeading: false,
            classes: "govuk-visually-hidden"
          }
        },
        hint: {
          text: "You can add more later."
        },
        items: [
          {
            value: "moTypesIndividual",
            text: "Individual managing officer"
          },
          {
            value: "moTypesCorporate",
            text: "Corporate managing officer"
          }
        ]
        }) }}



        {% else %}



        <h1 class="govuk-heading-xl">Which type of beneficial owner or managing officer do you want to add?</h1>








        {{ govukRadios({
        idPrefix: "boType",
        name: "boType",
        fieldset: {
          legend: {
            text: "Which type of beneficial owner or managing officer do you want to add?",
            isPageHeading: false,
            classes: "govuk-visually-hidden"
          }
        },

        items: [
          {
            value: "beneficialTypesIndividual",
            text: "Individual beneficial owner"
          },
          {
            value: "beneficialTypesOther",
            text: "Other legal entity beneficial owner"

          },
          {
            value: "beneficialTypesGov",
            text: "Government or public authority beneficial owner"
          },
          {
            value: "moTypesIndividual",
            text: "Individual managing officer"
          },
          {
            value: "moTypesCorporate",
            text: "Corporate managing officer"
          }
        ]
        }) }}



        {% endif %}



        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What <span class="govuk-visually-hidden"> beneficial owners or managing officers</span> you have added so far
            </span>
          </summary>
          <div class="govuk-details__text">
            {{ govukTable({
              caption: "Beneficial owners",
              captionClasses: "govuk-table__caption--m",
              firstCellIsHeader: true,
              head: [
              {
                text: "Name",
                classes: "govuk-visually-hidden"
              },
              {
                text: "Type",
                classes: "govuk-visually-hidden"
              },
                {
                  text: "Change or remove",
                  classes: "govuk-visually-hidden"
                }
              ],
              rows: [
                [
                  {
                    text: "Joe Bloggs"
                  },
                  {
                    text: "Individual"
                  },
                  {
                    html: '<a href="beneficial-owner-individual-completed">Change or remove <span class="govuk-visually-hidden">Joe Bloggs</span></a>'
                  }
                 ]
              ]
            }) }}


          </div>
        </details>






        <div class="govuk-button-group">

        {{ govukButton({
          text: "Add"
        }) }}

        {{ govukButton({
          text: "No more to add",
           classes: "govuk-button--secondary",
           href: '/register/trusts/trust-details'
        }) }}


      </div>



      </form>

    </div>
  </div>

{% endblock %}
