{% extends "layout.html" %}

{% block pageTitle %}
  Beneficial owner statements – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/register/beneficial-owner-statements" method="post">





        {{ govukRadios({
          idPrefix: "statements",
          name: "statements",
          fieldset: {
            legend: {
              text: "A question",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "A hint."
          },
          items: [
            {
              value: "allIdentifiedAllSupplied",
              text: "All beneficial owners have been identified and all relevant information can be supplied",
              hint: {
                text: "Only beneficial owners required"
              }
            },
            {
              value: "allIdentifiedSomeSupplied",
              text: "All beneficial owners identified but only some relevant information can be supplied",
              hint: {
                text: "At least one managing officer will be required"
              }
            },
            {
              value: "someIdentifiedSomeDetails",
              text: "Some beneficial owners have been identified but not all details can be obtained",
              hint: {
                text: "At least one managing officer will be required"
              }
            },
            {
              value: "noneIdentified",
              text: "No beneficial owners have been identified",
              hint: {
                text: "At least one managing officer will be required"
              }
            }
          ]
        }) }}


    <!--    {% set oneMoreHtml %}
        {{ govukRadios({
            idPrefix: "statements",
            name: "statements",
            fieldset: {
              legend: {
                text: "A question here",
                isPageHeading: false,
                classes: "govuk-visually-hidden"
              }
            },
            items: [
            {

                value: "oneMoreAll",
                text: "The entity is able to provide the required information about each registrable beneficial owner it has identified.",
                hint: {
                  text: "Hint"
                }
              },

              {
                value: "oneMoreSome",
                text: "The entity is not able to provide the required information about one or more of the registrable beneficial owners it has identified",
                hint: {
                  text: "Hint"
                }
              }
            ]
          }) }}
        {% endset -%}


        {% set oneNotIdentifiedHtml %}
        {{ govukRadios({
            idPrefix: "statements",
            name: "statements",
            fieldset: {
              legend: {
                text: "A question here",
                isPageHeading: false,
                classes: "govuk-visually-hidden"
              }
            },
            items: [
            {

                value: "oneNotIdentifiedAll",
                text: "The entity is able to provide the required information about each registrable beneficial owner it has identified.",
                hint: {
                  text: "Hint"
                }
              },

              {
                value: "oneNotIdentifiedSome",
                text: "The entity is not able to provide the required information about one or more of the registrable beneficial owners it has identified",
                hint: {
                  text: "Hint"
                }
              }
            ]
          }) }}
        {% endset -%}


        {{ govukRadios({
            idPrefix: "statements",
            name: "statements",
            fieldset: {
              legend: {
                text: "A question here",
                isPageHeading: false,
                classes: "govuk-visually-hidden"
              }
            },
            items: [
              {
                value: "oneMore",
                text: "The entity has identified one or more registrable beneficial owners and that it has no reasonable cause to believe there are others",
                hint: {
                  text: "Hint"
                  },
                conditional: {
                  html: oneMoreHtml
                }
              },
              {
                value: "oneNotIdentified",
                text: "The entity has reasonable cause to believe that there is at least one registrable beneficial owner that it has not identified.",
                hint: {
                  text: "Hint"
                },
                  conditional: {
                    html: oneNotIdentifiedHtml
                  }
              },
              {
                value: "noCause",
                text: "The entity has no reasonable cause to believe that it has any registrable beneficial owners",
                hint: {
                  text: "Hint"
                }
              }
            ]
          }) }}-->

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

    </div>
  </div>

{% endblock %}
