{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/no-back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application submitted</h1>
        <div class="govuk-panel__body">
          Your application reference number: <br><strong id="application-reference">392433-950223-102918</strong> <a href="#" class="application-copy govuk-button govuk-button--secondary govuk-!-padding-bottom-1 govuk-!-padding-top-1" onclick="CopyToClipboard('application-reference');return false;">Copy <span class="govuk-visually-hidden">pplication reference number</a></a>
        </div>
      </div>

      <p>
        We have sent a confirmation email to <strong>admin@lopezltd.com</strong> which contains your reference number.
      </p>

        <h2 class="govuk-heading-m">What you must do next</h2>
        <p>You must give the application reference number to the UK-regulated agent that completed identity checks. </p>

<p>Then the agent needs to complete an <a href="#" class="govuk-link">Overseas entity ID checks statement</a> and email it to Companies House.</p>

<p>We cannot process this application until we've received the statement.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We'll send an email to let you know if your application to register an overseas entity has been accepted or rejected. We'll process the application as soon as possible. However, because this is a new service, we're not yet able to tell you exactly how long this will take.</p>

<h3 class="govuk-heading-s">What happens if the application is accepted</h3>
      <p>We'll email the Overseas Entity ID to <strong>admin@lopezltd.com</strong>. We'll send the notice of registration to <strong>dlopez@lopezltd.com</strong>, which will also include Overseas Entity ID. This will need to be provided to the Land Registry whenever the overseas entity buys, sells or transfers land or property in the UK. </p>

<p>The overseas entity and its beneficial owners will be added to the Register of Overseas Entities.</p>

<h3 class="govuk-heading-s">What happens if the application is rejected</h3>
        <p>If it's rejected, we'll email you at <strong>admin@lopezltd.com</strong> to explain what to do next. We'll also refund the £X registration fee.</p>


<br>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>





    </div>
  </div>
  <script>
  function CopyToClipboard(id)
  {
  var r = document.createRange();
  r.selectNode(document.getElementById(id));
  window.getSelection().removeAllRanges();
  window.getSelection().addRange(r);
  document.execCommand('copy');
  window.getSelection().removeAllRanges();
  }
  </script>
{% endblock %}
