{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/no-back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application submitted</h1>
        <div class="govuk-panel__body">
          Your application reference number: <br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent a confirmation email to <strong>presenter@jmaccountants.com</strong> which contains your reference number.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We'll send an email to <strong>presenter@jmaccountants.com</strong> to let you know if your application to register an overseas entity has been accepted or rejected. We'll process the application as soon as possible. However, because this is a new service, we're not yet able to tell you exactly how long this will take.</p>



<h3 class="govuk-heading-s">What happens if the application is accepted</h3>

      <p>If the application is accepted, the overseas entity and its beneficial owners will be added to the <a href="javascript:void(0);">Register of Overseas Entities.</a></p>

            <p>We'll send an acceptance email to <strong>presenter@jmaccountants.com</strong> which will include the Overseas Entity ID.
<p> We'll send the notice of registration to <strong>dlopez@lopezltd.com</strong> which will also include Overseas Entity ID. This will need to be provided to the Land Registry whenever the overseas entity buys, sells or transfers land or property in the UK. </p>

<h3 class="govuk-heading-s">What happens if the application is rejected</h3>

        <p>If it's rejected, we'll explain what to do next in the email. We'll also refund the £X registration fee.</p>



      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
