{% extends "layout.html" %}

{% block pageTitle %}
  Historical beneficial owner – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about UK property or land the entity has disposed of since 28 February 2022</h1>

      <p class="govuk-body govuk govuk-!-margin-bottom-5 govuk-!-margin-top-5">The overseas entity must tell us if it has made a registrable:<br>
    <ul class="govuk-body">
    <li>Disposition under the Land Registration Act 2002 (England and Wales)
    </li>
    <li>Deed under the Land Registration (Scotland) Act 2012
    </li>
    </ul></p>

<!--- {{ govukDetails({
  summaryText: "More information about disposal of land",
  html: "The overseas entity must tell us if it has made a registrable:<br>
<ul>
<li>Disposition under the Land Registration Act 2002 (England and Wales)
</li>
<li>Deed under the Land Registration (Scotland) Act 2012
</li>
</ul>"
}) }} --->

      <form class="form" action="" method="get">

          {{ govukDateInput({
            id: "land-disposed-date",
            namePrefix: "land-disposed-date",
            fieldset: {
              legend: {
                text: "When did they dispose of the land?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              html: "Tell us the date of the disposition or delivery of the deed.<br>For example, 27 3 2007"
            }
          }) }}

          {{ govukInput({
              label: {
                text: "What is the title number of the land?",
                classes: "govuk-label--m",
                isPageHeading: false
              },
              classes: "govuk-!-width-one-third",
              id: "land-title-number",
              name: "land-title-number",
              hint: {
                text: "This is the registered title number of the qualifying estate or the title number of the title sheet in which the entity’s interest is registered."
              }
            }) }}






            {{ govukInsetText({
              html: '
                        <h2 class="govuk-heading-m">Information shown on the public register</h2>
                        <p>None of the information you provide about the trust will be shown on the public Register of Overseas Entities. However, it may be shared with HMRC.</p>
                          '
            }) }}

        {{ govukButton({
          text: "Add",
          href: "/register/trusts/trust-involved-alt"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
