{% extends "layout.html" %}

{% block pageTitle %}
  Historical beneficial owner – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <!---  <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us additional information about the disposal</h1>
--->

{{ govukTextarea({
  name: "land-detail",
  id: "land-detail",
  label: {
    text: "Can you tell us more about the land disposal?",
    classes: "govuk-label--xl",
    isPageHeading: true
  },
  hint: {
    text: "If you’ve disposed of land during the transitional period and the information about the overseas entity was different when the land was disposed, give the details below."
  }
}) }}

            {{ govukInsetText({
              html: '
                        <h2 class="govuk-heading-m">Information shown on the public register</h2>
                        <p>None of the information you provide about the trust will be shown on the public Register of Overseas Entities. However, it may be shared with HMRC.</p>
                          '
            }) }}

        {{ govukButton({
          text: "Continue",
          href: "/register/trusts/trust-involved-alt"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
