{% extends "layout.html" %}

{% block pageTitle %}
  Guidance: Agent assurance codes for registering an overseas entity – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      Agent assurance codes for registering an overseas entity
      </h1>
      <p class="govuk-body-l">
A UK-regulated agent must carry out verification checks on beneficial owners and managing officers of an overseas entity before it can be registered. To confirm they are authorised to carry out the checks, the agent must request an agent assurance code.  </p>

      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what">What an agent assurance code is</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#who">Who needs a code</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#get">How to get a code</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#use">How to use the code</a>
        </li>

      </ul>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="javascript:void(0)">
                Search the Register of Overseas Entities
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Guidance
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 id="what" class="govuk-heading-m">What an agent assurance code is</h3>
      <p class="govuk-body">An agent assurance code confirms that the UK-regulated agent has authorisation to carry out verification checks on an overseas entity. The agent needs to provide this code when the overseas entity is being registered.  </p>

      <p class="govuk-body">If the UK-regulated agent is an organisation, you only need to request one code for the whole organisation. This code can then be used for every overseas entity that the agent carries out verification checks for. You should not share this code with anyone outside your organisation.</p>



      <h3 id="who" class="govuk-heading-m">Who needs a code</h3>
      <p class="govuk-body">UK-regulated agents that are completing the verification checks need a code.
They must be based in the UK and supervised under the Money Laundering, Terrorist Financing and Transfer of Funds Regulations 2017. They can be individuals or corporate entities, such as:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>credit institutions</li>
  <li>financial institutions</li>
  <li>auditors, insolvency practitioners, accountants and tax advisers</li>
  <li>legal professionals</li>
  <li>trust or company service providers</li>
  <li>estate agents and letting agents</li>
</ul>

<p class="govuk-body">The agent that carries out the verification checks must not work at the overseas entity.</p>

      <h3 id="get" class="govuk-heading-m">How to get a code</h3>
      <p class="govuk-body">You'll need to complete the 'Request an agent assurance code' document and email it to <a href="mailto:agentcode@companieshouse.gov.uk?subject=Assurance code" class="govuk-link">agentcode@companieshouse.gov.uk</a>. Put ‘Agent assurance code’ in the subject line. This will help us to process your request more quickly.</p>

      <p class="govuk-body"><a href="/public/docs/Request-an-agent-assurance-code-new.odt" class="govuk-link download-icon">Download 'Request an agent assurance code' document</a> <span class="file-format-size govuk-body-s">(ODT, 9KB)</span></p>

      <p class="govuk-body">A Companies House examiner will check the document. If the request is accepted, we will email your code. We may email you if there are any issues with the information you’ve provided.</p>

      <h4 class="govuk-heading-s">What to do if you lose your code or need a new one</h4>

      <p class="govuk-body"><a href="https://www.gov.uk/government/organisations/companies-house#org-contacts" class="govuk-link">Contact us</a> to let us know and we’ll cancel your current code. Then you’ll need to request a new one.</p>

      <h3 id="use" class="govuk-heading-m">How to use the code</h3>

      <p class="govuk-body">If you’re carrying out verification checks and registering the overseas entity, you’ll need to enter the code as part of the <a href="/register/start-merged-with-guidance" class="govuk-link">Register an overseas entity and tell us about its beneficial owners service</a>. </p>


      <h4 class="govuk-heading-s">How to use the code if you are only carrying out verification checks</h4>

      <p class="govuk-body">If someone else is registering the overseas entity, such as someone who works for the entity, you’ll need to complete and sign a statement that confirms the verification checks have been carried out. You’ll need to provide the code as part of this statement.</p>

      <p class="govuk-body"><a href="/public/docs/Overseas-entity-verification-checks-statement.odt" class="govuk-link download-icon">Download 'Overseas entity verification checks statement' document</a> <span class="file-format-size govuk-body-s">(ODT, 13KB)</span></p>

      <p class="govuk-body">After the overseas entity has submitted its registration, you’ll have 14 days to email this statement to <a href="mailto:agentcode@companieshouse.gov.uk" class="govuk-link">agentcode@companieshouse.gov.uk</a>. Put 'Overseas entity verification checks statement' in the subject line. This will help us to process the registration more quickly.</p>
      <p class="govuk-body">We’ll check the statement and the application to register an overseas entity. If there are any issues with the information provided, we may email you. </p>




{% endblock %}
