{% extends "layout.html" %}

{% block pageTitle %}
  Guidance: Step by step guide for registering an overseas entity – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      Step by step: How to register an overseas entity
      </h1>
      <p class="govuk-body-l">
There are different steps to registering and this depends on who you are and who is registering for you.
The process is also different if you are registering online or via paper form.
</p>

{{ govukInsetText({
  text: "To find out if you need to register with a paper form, see the 'Who can use this service' section on the guidance page"
}) }}


      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#agentreg">You are an agent and you are registering for the overseas entity </a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#agentoereg">You are an agent and the overseas entity is registering</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#oeagentreg">You are the overseas entity and an agent is registering for you</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#oereg">You are the overseas entity and you or someone on behalf of you is registering for you</a>
        </li>

      </ul>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="javascript:void(0)">
                Search the Register of Overseas Entities
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Guidance
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 id="agentreg" class="govuk-heading-m">You are an agent and you are registering for the overseas entity</h3>
      <p class="govuk-body">You are doing the identity checks and registering the overseas entity using our <strong>online service.</strong></p>


  <ol class="govuk-body govuk-list--spaced">
    <li>Read the guidance and gather all data required</li>
    <li>Check if your organisation has already requested an assurance code, if they have then <a href="#6agentreg">go to step 6</a> in this list</li>
    <li>Download the assurance code request form (one code per organisation)</li>
    <li>Email Companies House the completed assurance code request form</li>
    <li>Companies House emails you your organisation’s assurance code (do not share outside of your organisation)</li>
    <li id="6agentreg">Complete the identity checks (see our guidance)</li>
    <li>Register the overseas entity and confirm identity checks information</li>
    <li>On completion, you will receive an automatic response email with your application number</li>
    <li>Companies House emails you to confirm if the registration is successful</li>
  </ol>







  <h3 class="govuk-heading-m">Or</h3>

<!--- <p class="govuk-body">You are doing the identity checks and registering the overseas entity via our <strong>paper service</strong></p>
--->
  {% set agentpaper %}
  <h3 class="govuk-heading-m">You are the agent and you are registering for an overseas entity on paper</h3>

  <!---<p class="govuk-body">You are doing the identity checks and registering the overseas entity using our <strong>paper form.</strong></p>--->

<ol class="govuk-body govuk-list--spaced">
  <li>Read the guidance and gather all data required</li>
  <li>Check if someone in your organisation has already requested an assurance code, if yes then skip to 6 in this list</li>
  <li>Download the assurance code request form (one code per organisation)</li>
  <li>Email Companies House the completed assurance code request form</li>
  <li>Companies House emails you your organisation’s assurance code (do not share outside of your organisation)</li>
  <li>Complete the identity checks (see our guidance)</li>
  <li>Contact Companies House to request a paper form</li>
  <li>Once received, register the overseas entity and confirm identity checks using the form</li>
  <li>Send in your completed form via post/email to Companies House</li>
  <li>You will receive an email with your application number</li>
  <li>Companies House emails you to confirm if the registration is successful</li>
</ol>
    {% endset %}
    {{ govukDetails({
          summaryText: "You are doing the identity checks and registering the overseas entity using our paper form",
          html: agentpaper
          }) }}



      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-5">


  <h3 id="agentoereg" class="govuk-heading-m ">You are an agent and the overseas entity is registering</h3>
  <p class="govuk-body">You are doing the identity checks only.</p>

<ol class="govuk-body govuk-list--spaced">
  <li>Read the guidance and gather all data required</li>
  <li>Check if your organisation has already requested an assurance code, if they have then <a href="#6agentoereg">go to step 6</a> in this list</li>
  <li>Download the assurance code request form (one code per organisation)</li>
  <li>Email Companies House the completed assurance code request form</li>
  <li>Companies House emails you your organisation’s assurance code (do not share outside of your organisation)</li>
  <li id="6agentoereg">The overseas entity registers (this can happen whilst you complete 1-5)</li>
  <li>The overseas entity contacts you with their OE application number</li>
  <li>Download the identity checks form</li>
  <li>Complete the identity checks and add their OE application number to the form</li>
  <li>Email Companies House the completed identity checks form </li>
  <li>Companies House emails the overseas entity to confirm if the registration is successful </li>
</ol>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-5">

  <h3 id="oeagentreg" class="govuk-heading-m ">You are the overseas entity and an agent is registering for you</h3>
  <p class="govuk-body">You will be asking a third-party agent to do your identity checks and register for you.</p>

<ol class="govuk-body govuk-list--spaced">
  <li>Read the guidance and gather all data required</li>
  <li>Contact a third-party agent to let them know you want them to do your identity checks and your registration</li>
  <li>Provide all information required for the registration to the third party (see our guidance)</li>
  <li>Companies House emails you to confirm if the registration is successful</li>
</ol>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-5">
<h3 id="oereg" class="govuk-heading-m ">You are an overseas entity and you, or someone on behalf of you is registering</h3>
<p class="govuk-body">You or someone on behalf of you (not a third-party agent) will be registering using our <strong>online service</strong> and asking an agent to complete the identity checks</p>

<ol class="govuk-body govuk-list--spaced">
  <li>Read the guidance and gather all data required</li>
  <li>Contact a third-party agent to let them know you want them to do your identity checks only</li>
  <li>Register the overseas entity (this is done before the agent can complete your identity checks)</li>
  <li>On completion, you will receive an email with your application number</li>
  <li>Give this application number and all information required for identity checks to your third-party agent</li>
  <li>Companies House emails you to confirm if the registration is successful</li>
</ol>


<h3 class="govuk-heading-m">Or</h3>

<!--- <p class="govuk-body">You are doing the identity checks and registering the overseas entity via our <strong>paper service</strong></p>
--->
{% set oepaper %}
<h3 class="govuk-heading-m">You are the overseas entity and you are registering using our paper form</h3>
<p class="govuk-body">You or someone on behalf of you (not a third-part agent) will be registering using our <strong>paper form</strong> and asking an agent to complete the identity checks</p>

<ol class="govuk-body govuk-list--spaced">
  <li>Read the guidance and gather all data required</li>
  <li>Contact a third-party agent to let them know you want them to do your identity checks only</li>
  <li>Email Companies House to request a paper form</li>
  <li>Once received, register the overseas entity using the form</li>
  <li>Send in your completed form via post/email to Companies House</li>
  <li>You will receive an email with your application number</li>
  <li>Give this application number and all information required for identity checks to your third-party agent</li>
  <li>Companies House emails you to confirm if the registration is successful</li>
</ol>
  {% endset %}
  {{ govukDetails({
        summaryText: "You or someone on behalf of you (not a third-party agent) will be registering using our paper form and asking an agent to complete identity checks",
        html: oepaper
        }) }}





{% endblock %}
