{% extends "layout.html" %}

{% block pageTitle %}
  Guidance: Step by step guide for registering an overseas entity – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      Step by step: How to register an overseas entity
      </h1>
      <p class="govuk-body-l">
There are different steps to registering and this depends on who you are and who is registering for you.
The process is also different if you are registering online or via paper form.
</p>

<!--- At some point in these lists we may have to add turn around times e.g. CH emails you after within X working days  --->


<div class="govuk-inset-text">
  You must register via paper form only if:
<br>
<ul>
  <li>any beneficial owners have their personal information protected at Companies House (or are waiting for the results of an application)</li>
  <li>the overseas entity has disposed of UK property or land since 28 February 2022</li>
</ul>
</div>



      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#agentreg">You are a UK-regulated agent and you are registering for the overseas entity </a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#agentoereg">You are a UK-regulated agent and the overseas entity is registering</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#oeagentreg">You are the overseas entity and a UK-regulated agent is registering for you</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#oereg">You are the overseas entity and you or someone on behalf of you is registering for you</a>
        </li>

      </ul>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="javascript:void(0)">
                Search the Register of Overseas Entities
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Guidance
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>




    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 id="agentreg" class="govuk-heading-m">You are a UK-regulated agent and you are registering for the overseas entity</h3>
      <p class="govuk-body">You are doing the verification checks and registering the overseas entity using our <strong>online service.</strong></p>

  <ol class="govuk-body govuk-list--spaced">
    <li><a href="/register/start-merged-with-guidance">Read the guidance</a> and gather all information <br>
        <span class="govuk-body-s">If relevant, also download and complete the <a href="/public/pdf/TrustDataCapture.xlsm" class="govuk-link">Trust Excel document</a>. (52KB)</span></li>
    <li>Check if someone from your organisation has already requested an agent assurance code. <br>
      <span class="govuk-body-s">If they have then <a href="#6agentreg">go to step 6</a> in this list</li></span>
    <li><a href="/public/docs/Request-an-agent-assurance-code-new.odt">Download the 'Request an agent assurance code' form</a>. <span class="govuk-body-s">(ODT, 9KB)</span> <br> You get one code per organisation.</p>
    <li>Complete the agent assurance code request form and email it to <a href="">agentcode@companieshouse.gov.uk</a></li>
    <li>Companies House sends your organisation’s agent assurance code via email (do not share outside of your organisation)</li>
    <li id="6agentreg">Complete the verification checks (see our guidance TBC)</li>
    <li>Register the overseas entity and confirm the verification checks information</li>
    <li>On completion, Companies House emails you an automatic response email with your application number</li>
    <li>Companies House emails you to confirm if the registration is successful</li>
  </ol>






  <h3 class="govuk-heading-m">Or</h3>
  {% set agentpaper %}
  <h3 class="govuk-heading-m">You are UK-regulated agent and you are registering for an overseas entity on paper</h3>
  <!---<p class="govuk-body">You are doing the verification checks and registering the overseas entity using our <strong>paper form.</strong></p>--->

<ol class="govuk-body govuk-list--spaced">
  <li><a href="/register/start-merged-with-guidance">Read the guidance</a> and gather all information <br>
      <span class="govuk-body-s">If relevant, also download and complete the <a href="/public/pdf/TrustDataCapture.xlsm" class="govuk-link">Trust Excel document</a>. (52KB)</span></li>
  <li>Check if someone from your organisation has already requested an agent assurance code. <br>
    <span class="govuk-body-s">If they have then <a href="#6agentpaper">go to step 6</a> in this list</li></span>
  <li><a href="/public/docs/Request-an-agent-assurance-code-new.odt">Download the 'Request an agent assurance code' form</a>. <span class="govuk-body-s">(ODT, 9KB)</span> <br> You get one code per organisation.</p>
  <li>Complete the agent assurance code request form and email it to <a href="">agentcode@companieshouse.gov.uk</a></li>
  <li>Companies House emails you your organisation’s agent assurance code (do not share outside of your organisation)</li>
  <li id="6agentpaper">Complete the verification checks (see our guidance TBC)</li>
  <li>Contact Companies House to request a paper form</li>
  <li>Fill out the form to register the overseas entity and confirm verification checks</li>
  <li>Send in your completed form via post/email to Companies House</li>
  <li>You will receive an automatic email with your application number</li>
  <li>Companies House sends the overseas entity number via email and confirms that the registration is successful</li>
</ol>
    {% endset %}
    {{ govukDetails({
          summaryText: "You are doing the verification checks and registering the overseas entity using our paper form",
          html: agentpaper
          }) }}






      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-5">
  <h3 id="agentoereg" class="govuk-heading-m ">You are a UK-regulated agent and the overseas entity is registering</h3>
  <p class="govuk-body">You are doing the verification checks only.</p>

<ol class="govuk-body govuk-list--spaced">
  <li><a href="/register/start-merged-with-guidance">Read the guidance</a> and gather all information <br>
      <span class="govuk-body-s">If relevant, also download and complete the <a href="/public/pdf/TrustDataCapture.xlsm" class="govuk-link">Trust Excel document</a>. (52KB)</span></li>
  <li>Check if someone from your organisation has already requested an agent assurance code. <br>
    <span class="govuk-body-s">If they have then <a href="#6agentoereg">go to step 6</a> in this list</li></span>
  <li><a href="/public/docs/Request-an-agent-assurance-code-new.odt">Download the 'Request an agent assurance code' form</a>. <span class="govuk-body-s">(ODT, 9KB)</span> <br> You get one code per organisation.</p>
  <li>Complete the agent assurance code request form and email it to <a href="">agentcode@companieshouse.gov.uk</a></li>
  <li>Companies House sends your organisation’s agent assurance code via email (do not share outside of your organisation)</li>
  <li id="6agentoereg">The overseas entity registers (this can happen whilst you complete 1-5)</li>
  <li>The overseas entity contacts you with their OE application number</li>
  <li><a href="/public/docs/Overseas-entity-verification-checks-statement.odt">Download the 'Overseas entity verification checks statement' document</a> <span class="govuk-body-s">(ODT, 13KB)</span></li>
  <li>Complete the Overseas entity verification checks statement including their OE application number and email it to <a href="">agentcode@companieshouse.gov.uk</a></li>
  <li>Companies House sends the overseas entity number via email and confirms that the registration is successful</li>
</ol>







<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-5">
  <h3 id="oeagentreg" class="govuk-heading-m ">You are the overseas entity and a UK-regulated agent is registering for you</h3>
  <p class="govuk-body">You will be asking an agent to do your verification checks and register for you.</p>

<ol class="govuk-body govuk-list--spaced">
  <li><a href="/register/start-merged-with-guidance">Read the guidance</a> and gather all information <br>
  <li>Contact a UK-regulated agent to let them know you want them to do your verification checks and your registration</li>
  <li>Provide all information required for the registration to the agent (see our guidance)</li>
  <li>Companies House sends the overseas entity number via email and confirms that the registration is successful</li>
</ol>





<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-5">
<h3 id="oereg" class="govuk-heading-m ">You are an overseas entity and you, or someone on behalf of you is registering</h3>
<p class="govuk-body">You or someone on behalf of you will be registering using our <strong>online service</strong> and asking a UK-regulated agent to complete the verification checks</p>

<ol class="govuk-body govuk-list--spaced">
  <li><a href="/register/start-merged-with-guidance">Read the guidance</a> and gather all information <br>
      <span class="govuk-body-s">If relevant, also download and complete the <a href="/public/pdf/TrustDataCapture.xlsm" class="govuk-link">Trust Excel document</a>. (52KB)</span></li>  <li>Contact a UK-regulated agent to let them know you want them to do your verification checks only</li>
  <li>Register the overseas entity (this is done before the agent can complete your verification checks)</li>
  <li>On completion, you will receive an email with your application number</li>
  <li>Give this application number and all information required for verification checks to your UK-regulated agent</li>
  <li>Companies House sends the overseas entity number via email and confirms that the registration is successful</li>
</ol>




<h3 class="govuk-heading-m">Or</h3>
<!--- <p class="govuk-body">You are doing the verification checks and registering the overseas entity via our <strong>paper service</strong></p>
--->
{% set oepaper %}
<h3 class="govuk-heading-m">You are an overseas entity and you, or someone on behalf of you is registering using our paper form</h3>
<p class="govuk-body">You or someone on behalf of you (not a third-part agent) will be registering using our <strong>paper form</strong> and asking a UK-regulated agent to complete the verification checks</p>

<ol class="govuk-body govuk-list--spaced">
  <li><a href="/register/start-merged-with-guidance">Read the guidance</a> and gather all information <br>
      <span class="govuk-body-s">If relevant, also download and complete the <a href="/public/pdf/TrustDataCapture.xlsm" class="govuk-link">Trust Excel document</a>. (52KB)</span></li>  <li>Contact a UK-regulated agent to let them know you want them to do your verification checks only</li>
  <li>Email Companies House to request a paper form</li>
  <li>Once received, register the overseas entity using the form</li>
  <li>Send in your completed form via post/email to Companies House</li>
  <li>You will receive an automatic email with an application number</li>
  <li>Give this application number and all information required for verification checks to your UK-regulated agent</li>
  <li>Companies House sends the overseas entity number via email and confirms that the registration is successful</li>
</ol>
  {% endset %}
  {{ govukDetails({
        summaryText: "You or someone on behalf of you (not a third-party agent) will be registering using our paper form and asking an agent to complete verification checks",
        html: oepaper
        }) }}





{% endblock %}
