{% extends "layout.html" %}

{% block pageTitle %}
  Guidance: Agent assurance codes for registering an overseas entity – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      Agent assurance codes for registering an overseas entity
      </h1>
      <p class="govuk-body-l">
A UK-regulated agent must carry out identity checks on beneficial owners and managing officers of an overseas entity before it can be registered. To confirm this has been done, the agent must request an agent assurance code.  </p>

      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#what">What an agent assurance code is</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#who">Who needs a code</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#get">How to get a code</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-body-s govuk-link--no-underline" href="#use">How to use the code</a>
        </li>

      </ul>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="javascript:void(0)">
                Search the Register of Overseas Entities
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                Guidance
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 id="what" class="govuk-heading-m">What an agent assurance code is</h3>
      <p class="govuk-body">An agent assurance code is the equivalent of a signature. It confirms that the UK-regulated agent has carried out identity checks on an overseas entity.  </p>

        <p class="govuk-body">The agent needs to provide this code when the overseas entity is being registered, even if the entity is registering itself.</p>


      <h3 id="who" class="govuk-heading-m">Who needs a code</h3>
      <p class="govuk-body">UK-regulated agents that are completing the identity checks need a code.
They must be based in the UK and supervised under the Money Laundering, Terrorist Financing and Transfer of Funds Regulations 2017. They can be an individual or a corporate entity, such as:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>credit institutions</li>
  <li>financial institutions</li>
  <li>auditors, insolvency practitioners, external accountants and tax advisers</li>
  <li>independent legal professionals</li>
  <li>trust or company service providers</li>
  <li>estate agents and letting agents</li>
</ul>


      <h3 id="get" class="govuk-heading-m">How to get a code</h3>
      <p class="govuk-body">Use the <a href="javascript:void(0)" class="govuk-link">Request an agent assurance code document</a> to get a code. Then email it to <a href="mailto:enquiries@companieshouse.gov.uk?subject=Assurance code" class="govuk-link">enquiries@companieshouse.gov.uk</a> with ‘Agent assurance code’ in the subject line. This will help us to process your request more quickly.</p>
  <p class="govuk-body">A Companies House examiner will check the document. If the request is accepted, they will email your code within a few working days. They may email you if any there are any issues with the information you’ve provided.</p>








      <h3 id="how" class="govuk-heading-m">How to use the code</h3>

      <p class="govuk-body">If you’re carrying out identity checks and registering the overseas entity, you’ll need to enter the code as part of the <a href="/register/start-merged-with-guidance" class="govuk-link">Register an overseas entity and tell us about its beneficial owners service</a>. </p>

      </ul>



      <h4 class="govuk-heading-s">How to use the code if you are only carrying out identity checks</h4>

      <p class="govuk-body">If someone else is registering the overseas entity, such as someone who works for the entity, you’ll need to complete and sign a statement that confirms the identity checks have been carried out. You’ll need to provide the code as part of this statement.</p>
 <p class="govuk-body"><a href="#" class="govuk-link">Download the Overseas entity ID checks statement</a></p>
      <p class="govuk-body">After the overseas entity has submitted its registration, you’ll have X working days to email this statement to <a href="mailto:enquiries@companieshouse.gov.uk" class="govuk-link">enquiries@companieshouse.gov.uk</a>. Put 'Overseas entity ID checks statement' in the subject line. This will help us to process the registration more quickly.</p>

      <p class="govuk-body">We’ll check the statement and the application to register an overseas entity. If there are any issues with the information provided, we may email you. </p>




{% endblock %}
