{% extends "layout.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you start</h3>

          <h2 class="govuk-heading-m">Identity checks</h2>
                  <p class="govuk-body">A UK-regulated professional must carry out <a href="/register/guidance#what-identity-checks-are-needed" class="govuk-link">identity checks</a> on all beneficial owners and managing officers. They must then <a href="/identity/start" class="govuk-link">request an assurance code</a> which needs to be provided in the application. This will confirm that identity checks have been completed.</p>

  <h2 class="govuk-heading-m">Trusts</h2>

  <p class="govuk-body">If you need to tell us about <a href="/register/guidance#how-to-submit-information-about-trusts" class="govuk-link">trusts</a>, we highly recommend that you complete the <a href="/public/pdf/TrustDataCapture.xlsm" class="govuk-link">Trust Excel document (52KB)</a> before you start, as the service will time out if you do not use it for 60 minutes.   </p>


  <p class="govuk-body">You'll need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>open the document in Excel</li>
      <li>enable macros when prompted</li>

    </ul>
  <p class="govuk-body">  Then follow the instructions within the document to enter the information into the service. You'll need to complete a new document for each trust. </p>





  {{ govukButton({
    text: "Continue",
    href: "/register/sign-in"
  }) }}

        </div>









      </form>

    </div>
  </div>

{% endblock %}
