{% extends "layout.html" %}

{% block pageTitle %}
  Corporate managing officer – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about the corporate managing officer</h1>
      <p class="govuk-caption-l  govuk-!-margin-bottom-5 govuk-!-margin-top-5">You can add more corporate managing officers later.</p>
      <form class="form" method="post">

        {{ govukDetails({
          summaryText: "What is a corporate managing officer?",
          text: "Here"
        }) }}

        {{ govukInput({
          label: {
            text: "What is its name?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "corp-mo-name",
          name: "corp-mo-name"
        }) }}



        {% call govukFieldset({
          legend: {
            text: "What is its principal or registered office address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Property name or number (optional)'
          },
          hint: {
           text: "For example, 'The Mill', '116' or 'Flat 37a'"
         },
          id: "managing-officer-usual-residential-address-property-name-number",
          name: "managing-officer-usual-residential-address-property-name-number"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-!-width-two-thirds",
          id: "managing-officer-usual-residential-address-line-1",
          name: "managing-officer-usual-residential-address-line-1",
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "managing-officer-usual-residential-address-line-2",
          name: "managing-officer-usual-residential-address-line-2",
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "City or town"
          },
          classes: "govuk-!-width-two-thirds",
          id: "managing-officer-usual-residential-address-city-town",
          name: "managing-officer-usual-residential-address-city-town"
        }) }}

        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "managing-officer-usual-residential-address-state",
          name: "managing-officer-usual-residential-address-state"
        }) }}

        {{ govukInput({
          label: {
            text: "Country"
          },
          classes: "govuk-!-width-two-thirds",
          id: "managing-officer-usual-residential-address-country",
          name: "managing-officer-usual-residential-address-country",
          autocomplete: "country-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or ZIP"
          },
          classes: "govuk-input--width-10",
          id: "managing-officer-usual-residential-address-postcode",
          name: "managing-officer-usual-residential-address-postcode",
          autocomplete: "postal-code"
        }) }}

        {% set serviceAddressHtml %}
        <br>
        {% call govukFieldset({
          legend: {
            text: "What is the service address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}
        {{ govukInput({
          label: {
            html: 'Property name or number (optional)'
          },
          hint: {
           text: "For example, 'The Mill', '116' or 'Flat 37a'"
         },
          id: "service-address-property-name-number",
          name: "service-address-property-name-number"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-!-width-two-thirds",
          id: "service-address-line-1",
          name: "service-address-line-1",
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "service-address-line-2",
          name: "service-address-line-2",
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "City or town"
          },
          classes: "govuk-!-width-two-thirds",
          id: "service-address-city-town",
          name: "service-address-city-town"
        }) }}

        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "service-address-state",
          name: "service-address-state"
        }) }}

        {{ govukInput({
          label: {
            text: "Country"
          },
          classes: "govuk-!-width-two-thirds",
          id: "service-address-country",
          name: "service-address-country",
          autocomplete: "country-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or ZIP"
          },
          classes: "govuk-input--width-10",
          id: "service-address-postcode",
          name: "service-address-postcode",
          autocomplete: "postal-code"
        }) }}

        {% endcall %}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "corp-mo-same-address",
          name: "corp-mo-same-address",
          fieldset: {
            legend: {
              text: "Is their service address the same as the registered office address?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: serviceAddressHtml
                }
                    }
                  ]
                }) }}

        {% endcall %}


        {{ govukInput({
            label: {
              text: "Where is the corporate managing officer registered?",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            id: "corp-mo-where-registered",
            name: "corp-mo-where-registered"
          }) }}


        {{ govukInput({
            label: {
              text: "What is the legal authority supervising the corporate managing officer?",
              classes: "govuk-label--m",
              isPageHeading: true
            },
            id: "corp-mo-legal-authority",
            name: "corp-mo-legal-authority"
          }) }}


          {{ govukInput({
              label: {
                text: "What is the legal form of the corporate managing officer as defined by its country of registration?",
                classes: "govuk-label--m",
                isPageHeading: false
              },
              id: "corp-mo-legal-form",
              name: "corp-mo-legal-form"
            }) }}



              {{ govukInput({
                  label: {
                    text: "What is the registration number of the corporate managing officer?",
                    classes: "govuk-label--m",
                    isPageHeading: false
                  },
                  classes: "govuk-!-width-one-half",
                  id: "corp-mo-registration-number",
                  name: "corp-mo-registration-number"
                }) }}

            {{ govukDateInput({
              id: "corp-startdate",
              namePrefix: "corp-startdate",
              fieldset: {
                legend: {
                  text: "When did it become a managing officer for the overseas entity?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "For example, 27 3 2007"
              }
            }) }}


                <h2 class="govuk-heading-m">What information is shown on the online register</h2>
                <p>Here</p>




                {{ govukButton({
                  text: "Add another corporate managing officer",
                  href: "",
                   classes: "govuk-button--secondary govuk-!-margin-top-6"
                }) }}

                {{ govukButton({
                  text: "Continue without adding another corporate managing officer",
                  href: "/register/check-answers"
                }) }}


      </form>

    </div>
  </div>

{% endblock %}
