{% extends "layout.html" %}

{% block pageTitle %}
Who can we contact about this application? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Who can we contact about this application?</h1>


<form>


  {{ govukInput({
    label: {
      text: "Full name"
    },
    id: "full-name",
    name: "contact-full-name",
    type: "contact-full-name",
    autocomplete: "contact-full-name",
    spellcheck: false
  }) }}


  {{ govukInput({
    label: {
      text: "Email address"
    },
    id: "contact-email",
    name: "contact-email",
    type: "contact-email",
    autocomplete: "contact-email",
    spellcheck: false
  }) }}

<!--
  {{ govukInput({
    label: {
      text: "What is your phone number?",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    hint: {
  text: "For international numbers include the country code"
},
    id: "presenter-number",
    name: "presenter-number",
    classes: "govuk-!-width-one-half"
  }) }}
-->
  {% set otherHtml %}
  {{ govukInput({
    id: "other-role",
    name: "other-role",
    label: {
      text: "Enter your role"
    }
  }) }}
  {% endset -%}



  {% set amlrHtml %}
  {{ govukInput({
    id: "amlr-number",
    name: "amlr-number",
    type: "number",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Enter your anti-money laundering registration number"
    }
  }) }}
  {% endset -%}
<!--
  {{ govukRadios({
  idPrefix: "amlr",
  name: "amlr",
  fieldset: {
    legend: {
      text: "Do you have an anti-money laundering registration number?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: amlrHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
-->




  <h2 class="govuk-heading-m">What information is shown on the public register</h2>
  <p>None of the information provided in this section will be shown on the public Register of Overseas Entities.</p>

      {{ govukButton({
        text: "Continue",
        href: "/register/due-diligence"
      }) }}
      </form>

    </div>
  </div>

{% endblock %}
