{% extends "layout.html" %}

{% block pageTitle %}
  Who is registering – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Tell us about yourself</h1>


<form>

  {{ govukInput({
    label: {
      text: "What is your full name?",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    id: "presenter-name",
    name: "presenter-name"
  }) }}

  {{ govukInput({
    label: {
      text: "What is your phone number?",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    hint: {
  text: "For international numbers include the country code"
},
    id: "presenter-number",
    name: "presenter-number",
    classes: "govuk-!-width-one-half"
  }) }}

  {% set otherHtml %}
  {{ govukInput({
    id: "other-role",
    name: "other-role",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Enter your role"
    }
  }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: "presenter-role",
    name: "presenter-role",
    fieldset: {
      legend: {
        text: "What is your role?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "accountant",
        text: "Accountant"
      },
      {
        value: "administrator",
        text: "Administrator"
      },
      {
        value: "solicitor",
        text: "Solicitor"
      },
      {
        value: "beneficial-owner",
        text: "Beneficial owner"
      },
      {
        value: "other",
        text: "Other",
        conditional: {
        html: otherHtml
      }
      }
    ]
  }) }}

  {% set amlrHtml %}
  {{ govukInput({
    id: "amlr-number",
    name: "amlr-number",
    type: "number",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Enter your anti-money laundering registration number"
    }
  }) }}
  {% endset -%}

  {{ govukRadios({
  idPrefix: "amlr",
  name: "amlr",
  fieldset: {
    legend: {
      text: "Do you have an anti-money laundering registration number?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      conditional: {
        html: amlrHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}



  <h2 class="govuk-heading-m">What information is shown on the public register</h2>
  <p>None of the information provided on this screen will be shown on the public register.</p>

      {{ govukButton({
        text: "Continue",
        href: "/register/entity"
      }) }}
      </form>

    </div>
  </div>

{% endblock %}
