{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Who can we contact about this application? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorName == true or errorEmail == true %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
      {% endif %}
  
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Who can we contact about this application?</h1>
      <div class="govuk-hint govuk-!-margin-bottom-5">We'll use this if we need more information about the application. </div>
      
      <form action="" method="post">

        {% if errorName == true %}
          {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "contact-full-name",
            name: "contact-full-name",
            type: "contact-full-name",
            value: contactName,
            autocomplete: "contact-full-name",
            spellcheck: false,
            errorMessage: {
                    text: "Enter a full name"
                  }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "contact-full-name",
            name: "contact-full-name",
            type: "contact-full-name",
              value: contactName,
            autocomplete: "contact-full-name",
            spellcheck: false
          }) }}
        {% endif %}

        {% if errorEmail == true %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "contact-email",
            name: "contact-email",
            type: "contact-email",
            value: contactEmail,
            autocomplete: "contact-email",
            spellcheck: false,
            errorMessage: {
                    text: "Enter an email address"
                  }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "contact-email",
            name: "contact-email",
            type: "contact-email",
            value: contactEmail,
            autocomplete: "contact-email",
            spellcheck: false
          }) }}
        {% endif %}

{#

<form action="" method="post">

  <h1 class="govuk-heading-xl">Who can we contact about this application?</h1>

{{ govukInput({
  label: {
    text: "Full name"
  },
  id: "contact-full-name",
  name: "contact-full-name",
  type: "contact-full-name",
  value: data["contact-full-name"],
  autocomplete: "contact-full-name",
  spellcheck: false
}) }}

 {{ govukInput({
    label: {
      text: "Email address"
    },
    id: "contact-email",
    name: "contact-email",
    type: "contact-email",
  value: data["contact-email"],
    autocomplete: "contact-email",
    spellcheck: false
  }) }}

  #}

        {{ govukInsetText({
          html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
                <p>We will not show any of the information you provide on this screen on the public Register of Overseas Entities.</p>'
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
