{% extends "layout.html" %}

{% block pageTitle %}

Are you sure you want to sign out?
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="/register/signed-out" method="get">

    {{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Select yes if you want to sign out",
      href: "#selectyes"
    }
  ]
}) }}


      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "signOut",
        name: "signOut",
        fieldset: {
          legend: {
            text: "Are you sure you want to sign out?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "We will save your application."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}






      {{ govukButton({
        text: "Continue"
      }) }}
      </form>




    </div>
  </div>

{% endblock %}
