{% extends "layout.html" %}

{% block pageTitle %}

You have signed out of the service
 – {{ serviceName }} – GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-l">You have signed out of the service</h1>

<p class="govuk-body">We have saved your application. You can <a href="/register/sign-in" class="govuk-link">sign back in to continue registering the overseas entity</a>. </p>

    </div>
  </div>

{% endblock %}
