{% extends "layout.html" %}

{% block pageTitle %}
  Start – {{ serviceName }} – Companies House
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Search the Register of overseas entities
              </a>
            </li>
            <li>
              <a href="#">
                Guidance
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 id="background" class="govuk-heading-m">What the Register of Overseas Entities is</h3>
      <p class="govuk-body">On 23 June 2022, the <a href="#" class="govuk-link">Register of Overseas Entities</a> came into force in the UK through the new Economic Crime (Transparency and Enforcement) Act. This means that overseas entities must register with Companies House and tell us who their beneficial owners are, so that they can buy or sell property or land in the UK.</p>
      <p class="govuk-body">After registering, the details of the overseas entity and its beneficial owners will be publicly available on the online register.</p>


      <p class="govuk-body">This will lead to more transparency, which will allow law enforcement agencies to investigate suspicious wealth more effectively.</p>

      {{ govukWarningText({
        text: "The beneficial owners of overseas entities who do not register could be fined up to £2,500 per day, be put in prison for up to 5 years, and have difficulty buying or selling UK property or land.",
        iconFallbackText: "Warning"
      }) }}
      <h3 id="what-an-overseas-entity-is" class="govuk-heading-m">What an overseas entity is</h3>
      <p class="govuk-body">This is a legal entity, such as a company or organisation, that is governed by the law of a country or territory outside the UK.</p>

      <h3 id="what-a-beneficial-owner-is" class="govuk-heading-m">What a beneficial owner is</h3>
      <p class="govuk-body">A person is a beneficial owner of an overseas entity if they meet one or more of the following conditions known as the ‘nature of control’:</p>

      <p class="govuk-body"><strong>Ownership of shares</strong>
      <br>The beneficial owner holds more than 25% of the shares in the overseas entity.</p>
      <p class="govuk-body"><strong>Voting rights</strong>
      <br>The beneficial owner holds more than 25% of the voting rights in the overseas entity.</p>
      <p class="govuk-body"><strong>Right to appoint or remove directors </strong>
      <br>The beneficial owner holds the right to appoint or remove a majority of the board of directors of the overseas entity.</p>
      <p class="govuk-body"><strong>Significant influence or control </strong>
      <br>The beneficial owner has the right to exercise, or actually exercises, significant influence or control over the overseas entity.</p>

      <h3 id="who-can-use-this-service" class="govuk-heading-m">Who can use this service
</h3>

      <p class="govuk-body">You can use this service if you’re:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a beneficial owner of an overseas entity</li>
        <li>a third-party agent representing a beneficial owner of an overseas entity</li>
      </ul>

      <h3 id="when-you-need-to-register" class="govuk-heading-m">When you need to register</h3>
      <p class="govuk-body">Content here</p>



      <h3 id="what-information-you-need-to-submit" class="govuk-heading-m">What information you need to submit</h3>
      <p class="govuk-body">Content here</p>



      <h3 id="start" class="govuk-heading-m">Apply to register an overseas entity and its beneficial owners </h3>
      <p class="govuk-body">Content here</p>

      <p>Registering takes around 10 minutes. The service will time out after 30 minutes and your answers will not be saved.
      </p>
      {{ govukButton({
        text: "Start now",
        href: "../register/sign-in",
        isStartButton: true
      }) }}


      <h3 id="what-happens-after-an-overseas-entity-is-registered" class="govuk-heading-m">What happens after an overseas entity is registered</h3>

      <p class="govuk-body">It can take up to 7 working days to process an application to register an overseas entity and its beneficial owners. If the application is accepted, the overseas entity and its beneficial owners will be added to the <a href="#">Register of Overseas Entities.</a></p>

      <p class="govuk-body">We will also send you its Overseas Entity ID number by email. You will need to provide this ID number to the Land Registry whenever the overseas entity buys, sells or transfers land or property in the UK.</p>

      <h4 class="govuk-heading-s">Updating information on the register</h4>

      <p class="govuk-body">You will need to file a statement at least once a year to confirm that the information we hold on the overseas entity and its beneficial owners is up to date.</p>

      <p class="govuk-body">You may choose to file sooner if you need to update the information before the next statement is due to be filed.</p>

      <h4 class="govuk-heading-s">Removing an overseas entity</h4>

      <p class="govuk-body">An overseas entity can only be removed from the register if it no longer owns any property or land in the UK. You can apply to remove an overseas entity from the register by emailing <a class="govuk-link" href="#">roe@companieshouse.gov.uk</a>.</p>

      <h3 id="contact-us" class="govuk-heading-m">Contact us</h3>
      <p class="govuk-body">If you have a question about applying to register an overseas entity and its beneficial owners, you can contact us.</p>
      <h4 class="govuk-heading-s">Telephone</h4>
      <ul class="govuk-list">
        <li>0303 1234 500</li>
        <li>Monday to Friday, 8:30am to 6pm</li>
      </ul>
      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>
      <h4 class="govuk-heading-s">Email</h4>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">roe@companieshouse.gov.uk</a>
        </li>
      </ul>

      <h3 id="privacy-statement" class="govuk-heading-m">Privacy statement</h3>
      <h3 class="govuk-heading-s">What personal information (or ‘data’) we collect</h3>
      <p class="govuk-body">We collect:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the name of the obliged entity (if an individual)</li>
  <li>the email address of the obliged entity (if an individual)</li>
  <li>the name of the person with significant control (PSC) reported as having a discrepancy</li>
  <li>the date of birth of the PSC reported as having a discrepancy</li>
  <li>the nationality of the PSC reported as having a discrepancy</li>
  <li>the postal address of the PSC reported as having a discrepancy</li>
  <li>any other personal information voluntarily provided by the person submitting the report</li>
</ul>
    <h3 class="govuk-heading-s">How we use the personal information</h3>
    <p class="govuk-body">The personal information provided by the obliged entity is compared with the relevant information on the public register.  If necessary, the information on the public register will be corrected and annotated.</p>
    <p class="govuk-body">The obliged entity’s personal information will be used to contact them for more information if needed, and to tell them the outcome of the discrepancy report. The information will be stored on the internal Companies House database along with the associated discrepancy report.</p>
   <p class="govuk-body">The personal information of the obliged entity and the PSC identified in the discrepancy report will not be made available to the public, although the information may already be on the public register for filing purposes.</p>
   <h3 class="govuk-heading-s">Where the information will be stored</h3>
   <p class="govuk-body">The information will be held on the Companies House database, but not on the public register.</p>
   <h3 class="govuk-heading-s">How long the personal information is stored</h3>
   <p class="govuk-body">Companies House will hold the personal information of the obliged entity and PSC in the discrepancy report on the Companies House database for 10 years.</p>
   <h3 class="govuk-heading-s">Legal basis for the use of the personal information </h3>
   <p class="govuk-body">Companies House has a legal obligation to collect this information.</p>
   <h3 class="govuk-heading-s">Individual rights</h3>
   <p class="govuk-body">The GDPR provides certain rights that people may carry out regarding their own personal information. If you want to exercise any of these rights, please contact the Data Protection Officer (DPO).</p>
   <h3 class="govuk-heading-s">Complaints</h3>
   <p class="govuk-body">If you have a complaint about the way we’re managing your personal information, you can let us know firstly by writing to the DPO at <a href="mailto:dpo@companieshouse.gov.uk" class="govuk-link">dpo@companieshouse.gov.uk</a>.</p>
   <p class="govuk-body">If you’re still not satisfied, you can raise your concerns with:</p>
   <p class="govuk-body">The Information Commissioner’s Office<br>
Wycliffe House<br>
Water Lane<br>
Wilmslow<br>
Cheshire<br>
SK9 5AF<br>
</p>
      </div>



  </div>

{% endblock %}
