{% extends "layout.html" %}

{% block pageTitle %}

Are you starting a new application? – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="/register/sold-land-filter" method="get">


{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "startingNew",
  name: "startingNew",
  fieldset: {
    legend: {
      text: "Are you starting a new application?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No - I already started one"
    }
  ]
}) }}


      {{ govukButton({
        text: "Continue"
      }) }}
      </form>




    </div>
  </div>

{% endblock %}
