{% extends "layout.html" %}

{% block pageTitle %}
{% if errorList.length > 0 %}
  Error:
{% endif %}
Steps to register an overseas entity – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Steps to register an overseas entity</h1>

 <!-- <p class="govuk-body">Lorem ipsum our <strong>online service.</strong></p>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
Guidance
New or resume
Filter questions on disposals - take you to paper service
filter question on protected information  - take you to paper service
Identity checks
Overseas entity
Beneficial owners (and/or managing officers, if applicable)
Trusts (if applicable)
Pay and submit
Confirmation-->


<p class="govuk-body">To start, you’ll need to tell us the name of the overseas entity you’re registering and who we can contact about the application.</p>

<p class="govuk-body">You’ll enter the information for the rest of the application in stages.</p>

  <ol class="govuk-body-l govuk-!-font-weight-bold govuk-list--spaced">
    <li>Complete a statement to confirm that verification checks have been completed </li>

    <li>Give details about the overseas entity </li>

    <li>Add beneficial owner details </li>

    <li>Add managing officer details (if relevant)</li>

    <li>Submit trust information (if relevant)</li>

  </ol>

  <p class="govuk-body">You can check your answers and make changes if you need to before you submit your application. </p>


      {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>

    </div>
  </div>

{% endblock %}
