{% extends "layout.html" %}

{% block pageTitle %}

Who is making the filing?
 – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link.html" %}
{% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<form action="/register/overseas-entity-due-diligence" method="get">


{{ govukRadios({
  idPrefix: "whoIsFiling",
  name: "whoIsFiling",
  fieldset: {
    legend: {
      text: "Who is completing this registration?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
  {
    value: "agent",
    text: "Someone who works for the UK-regulated agent that carried out verification checks"
  },
    {
      value: "else",
      text: "Someone else"
    }

  ]
}) }}


      {{ govukButton({
        text: "Save and continue"
      }) }}
      </form>

<p class="govuk-body-s">

        <a href="/register/entity">Skip</a>
      </p>


    </div>
  </div>

{% endblock %}
