
{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts – Register an overseas entity and tell us about its beneficial owners (Prototype) - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-two-thirds">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
      <span class="govuk-caption-xl">Version 2</span>
    </h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h4 class="govuk-tabs__title">
        Contents
      </h4>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#code">
            Entry points and links
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#form-versions">
            Previous versions
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="code">
        <h2 class="govuk-heading-m">Register an overseas entity</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/register/start">GOV.UK start page</a>
          </li>
          <li>
            <a href="/register/start-merged-with-guidance">GOV.UK start page merged with guidance</a>
          </li>
          <li>
            <a href="/register/sign-in">CHS sign in</a>
          </li>
          <li>
            <a href="/register/presenter">Gather presenter data</a>
          </li>
          <li>
            <a href="/register/entity">Gather entity data</a>
          </li>
          <li>
            <a href="/register/beneficial-owner-type">Beneficial owner types</a>
          </li>
          <li>
            <a href="/register/beneficial-owner-individual">Gather beneficial owner (individual) data</a>
          </li>
          <li>
            <a href="/register/beneficial-owner-other">Gather beneficial owner (other legal entity) data</a>
          </li>
          <li>
            <a href="/register/managing-officer">Gather managing officer data</a>
          </li>
          <li>
            <a href="/register/check-answers">Confirm data</a>
          </li>
          <li>
            <a href="https://products.payments.service.gov.uk/pay/8a86c55b848648658771fbd19d0595b1">Payment</a>
          </li>
          <li>
            <a href="/register/confirmation">Confirmation page</a>
          </li>
          <li>
            <a href="">Confirmation email</a>
          </li>
        </ul>
        <h3 class="govuk-heading-s">Stop screens</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/service-unavailable">Service unavailable</a>
          </li>
          <li>
            <a href="/service-timeout">Service timeout</a>
          </li>
          <li>
            <a href="/page-not-found">Page not found</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Search the register of overseas entities</h2>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
        <table class="govuk-table version-history">
          <caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Changes</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="https://roe-v1.herokuapp.com//">Version 1</a>
              </th>
              <td class="govuk-table__cell">NA</td>
              <td class="govuk-table__cell">
              NA
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                Not tested
                </strong>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="/">Version 2</a>
              </th>
              <td class="govuk-table__cell">TBA</td>
              <td class="govuk-table__cell">

                <p><a href="/register/start-merged-with-guidance">Start page</a></p>
                <ul class="govuk-list govuk-list--bullet">
                <li>Here</li>
              </ul>

              <p><a href="sign-in">Sign in</a><p>
                <ul class="govuk-list govuk-list--bullet">
                <li>Updated content around WebFiling to match Directors service</li>
              </ul>



                <p><a href="/register/presenter">Tell us about yourself</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li> Made phone number field larger to accomodate overseas phone numbers</li>
                  <li>Removed hint about only choosing one option from Role question (not needed, as is a radio selection)</li>
                  <li> Reworked anti-money laundering question to Yes/No style</li>
                </ul>

                <p><a href="/register/entity">Tell us about the overseas entity</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated address fields to include overseas elements (copied pattern used on Directors)</li>
                  <li>Added hint about what we'll use the email address for (to be explained)</li>
                  <li>Shortened 'registration number' field</li>
                  <li>Reformatted questions about public register into a Yes/No component</li>

                </ul>

                <p><a href="/register/beneficial-owner-type">Who is a beneficial owner of the overseas entity?</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Reworked page into Yes/No question</li>
                </ul>

                <p><a href="/register/beneficial-owner-individual">Tell us about the individual beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated address fields to include overseas elements (copied pattern used on Directors)</li>
                  <li>Updated spacing of sub-heading</li>
                </ul>

                <p><a href="/register/beneficial-owner-individual-2">A second individual beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated heading to match <a href="/register/beneficial-owner-individual">the 'first' version</a> of this page</li>
                </ul>

                <p><a href="/register/beneficial-owner-other">Tell us about the corporate beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated address fields to include overseas elements (copied pattern used on Directors)</li>
                  <li>Updated spacing of sub-heading</li>
                </ul>

                <p><a href="/register/managing-officer">Tell us about the managing officer</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated address fields to include overseas elements (copied pattern used on Directors)</li>
                  <li>Updated spacing of sub-heading</li>
                  <li>Changed 'role and responsibilities' input to text area to allow more information to be entered</li>
                  <li>Added link to allow another managing officer to be added</li>
                </ul>

                <p>Footer<p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Added placeholder 'accessibility statement'</li>
                </ul>

              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Not ready for testing
                </strong>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
