
{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts – {{ serviceName }} - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-two-thirds">
    <h1 class="govuk-heading-xl">
      {{serviceName}}
      <span class="govuk-caption-xl">Version 4</span>
    </h1>

 {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h4 class="govuk-tabs__title">
        Contents
      </h4>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#code">
            Entry points and links
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#form-versions">
            Previous versions
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="code">
        <h2 class="govuk-heading-m">Early screens</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/register/start">GOV.UK start page</a>
          </li>
          <li>
            <a href="/register/start-merged-with-guidance">GOV.UK start page merged with guidance</a>
          </li>
          <li>
            <a href="/register/due-diligence">Identity checks</a>
          </li>
          <li>
            <a href="/register/sign-in">Sign in to Companies House</a>
          </li>
          <li>
            <a href="/register/presenter">Tell us about yourself</a>
          </li>
          <li>
            <a href="/register/entity">Tell us about the overseas entity</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Beneficial owners and managing officers</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/register/beneficial-owner-statements">Have you identified any beneficial owners?</a>
          </li>
          <li>
            <a href="/register/beneficial-owner-type-alt">Types (beneficial owner / managing officer)</a>
          </li>
          <li>
            <a href="/register/beneficial-owner-type-one-added">Types (beneficial owner / managing officer) - showing additions</a>
          </li>
          <li>
            <a href="/register/beneficial-owner-individual">Gather beneficial owner (individual) data</a>
          </li>
          <li>
            <a href="/register/beneficial-owner-individual-completed">Gather beneficial owner (individual) data - completed example</a>
          </li>
          <li>
            <a href="/register/beneficial-owner-other">Gather beneficial owner (corporate entity) data</a>
          </li>
          <li>
            <a href="/register/beneficial-owner-gov">Gather beneficial owner (government or public authority) data</a>
          </li>
          <li>
            <a href="/register/managing-officer">Gather managing officer (individual) data</a>
          </li>
          <li>
            <a href="/register/managing-officer-corporate">Gather managing officer (corporate) data</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Trusts</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/register/trusts/trust-details">Tell us about the trust</a>
          </li>
          <li>
          <a href="/register/trusts/trust-details-upload">Tell us about the trust (file upload)</a>
          </li>
          <li>
                        <a href="/register/trusts/trust-historical-beneficial-owner">Tell us about historical beneficial owners</a>
          </li>
          <li>
            <a href="/register/trusts/trust-beneficiary-individual">Tell us about individual beneficiaries</a>
          </li>
          <li>
            <a href="/register/trusts/trust-beneficiary-ole">Tell us about other legal entity beneficiaries</a>
          </li>
          <li>
            <a href="/register/trusts/trust-settlors-individual">Tell us about individual settlors</a>
          </li>
          <li>
            <a href="/register/trusts/trust-settlors-ole">Tell us about other legal entity settlors</a>
          </li>
          <li>
            <a href="/register/trusts/trust-grantors-individual">Tell us about individual grantors</a>
          </li>
          <li>
            <a href="/register/trusts/trust-grantors-ole">Tell us about other legal entity grantors</a>
          </li>
          <li>
            <a href="/register/trusts/trust-interested-persons-individual">Tell us about the individual interested persons</a>
          </li>
          <li>
            <a href="/register/trusts//trust-interested-persons-ole">Tell us about the other legal entity interested persons</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Final screens</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/register/check-answers">Check your answers / identity checks</a>
          </li>
          <li>
            <a href="/register/check-answers-2">Check your answers / identity checks (alt)</a>
          </li>
          <li>
            <a href="https://products.payments.service.gov.uk/pay/8a86c55b848648658771fbd19d0595b1">Payment</a>
          </li>
          <li>
            <a href="/register/confirmation">Confirmation page</a>
          </li>

        </ul>

        <h2 class="govuk-heading-m">Emails</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/emails/application-received">Application received</a>
          </li>
          <li>
            <a href="/emails/application-accepted">Application accepted</a>
          </li>
          <li>
            <a href="/emails/application-rejected">Application rejected</a>
          </li>
        </ul>

        <h3 class="govuk-heading-m">Stop screens</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/service-unavailable">Service unavailable</a>
          </li>
          <li>
            <a href="/service-timeout">Service timeout</a>
          </li>
          <li>
            <a href="/page-not-found">Page not found</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Search the register of overseas entities</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>To be added</li>

        </ul>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
        <table class="govuk-table version-history">
          <caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Changes</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">





            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="https://roe-v4.herokuapp.com/">Version 4</a>
              </th>
              <td class="govuk-table__cell">NA</td>
              <td class="govuk-table__cell">


                <p> All pages</a><p>



                  <ul class="govuk-list govuk-list--bullet">
                  <li>'Alpha' tag added to header <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>

                <p>  <a href="/register/start">'Short' start page</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Content updated <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>

                <p>  <a href="/register/presenter">Tell us about yourself</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Increased size of 'Other' role field <strong class="govuk-tag govuk-tag--yellow">Not MVP</strong></li>
                </ul>
                <p>  <a href="/register/entity">Tell us about the overseas entity</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated content for address and email <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>
                <p>  <a href="/register/beneficial-owner-type-alt">Types of beneficial owner and/or managing officer</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Significant rework of the way users select and add beneficial owners and/or managing officers <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>
                <p>  <a href="/register/beneficial-owner-individual">Tell us about the individual beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Name separated into two fields <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>
                <p>  <a href="/register/beneficial-owner-other">Tell us about the corporate beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Added missing 'legal' fields <strong class="govuk-tag govuk-tag--green">MVP</strong></li>
                </ul>

                <p>  <a href="/register/beneficial-owner-gov">Tell us about the government or public authority beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Added missing 'legal' fields <strong class="govuk-tag govuk-tag--green">MVP</strong></li>
                </ul>

                <p>  <a href="/register/managing-officer">Tell us about the individual managing officer</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Name separated into two fields <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>

                <p>  <a href="/register/managing-officer-corporate">Tell us about the corporate managing officer</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Added missing 'legal' fields <strong class="govuk-tag govuk-tag--green">MVP</strong></li>
                </ul>

                <p>  <a href="/register/trusts/trust-beneficiary-individual">Tell us about the individual beneficiary</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Name separated into two fields <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>

                <p>  <a href="/register/trusts/trust-details-upload">Tell us about the trust (file upload)</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>New page added <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>

                <p>  <a href="/register/trusts/trust-historical-beneficial-owner">Tell us about the historical beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Removed 'if applicable' from question about ceasing to be a beneficial owner <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>




                <p>  <a href="/register/trusts/trust-beneficiary-ole">Tell us about the other legal entity beneficiaries</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Added missing 'legal' fields <strong class="govuk-tag govuk-tag--green">MVP</strong></li>
                </ul>

                <p>  <a href="/register/trusts/trust-settlors-individual">Tell us about the individual settlors</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Name separated into two fields <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                  <li>Changed from settler to settlor <strong class="govuk-tag govuk-tag--green">MVP</strong></li>
                </ul>

                <p>  <a href="/register/trusts/trust-settlors-ole">Tell us about the other legal entity settlors</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Added missing 'legal' fields <strong class="govuk-tag govuk-tag--green">MVP</strong></li>
                    <li>Changed from settler to settlor <strong class="govuk-tag govuk-tag--green">MVP</strong></li>

                </ul>

                <p>  <a href="/register/trusts/trust-grantors-individual">Tell us about the individual grantor</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Name separated into two fields <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>

                <p>  <a href="/register/trust-grantors-ole">Tell us about the other legal entity grantor</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Added missing 'legal' fields <strong class="govuk-tag govuk-tag--green">MVP</strong></li>
                </ul>

                <p>  <a href="/register/trusts/trust-interested-persons-individual">Tell us about the individual interested person</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Name separated into two fields <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                </ul>

                <p>  <a href="/register/trust-interested-persons-ole">Tell us about the other legal entity interested person</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Added missing 'legal' fields <strong class="govuk-tag govuk-tag--green">MVP</strong></li>
                </ul>

                <p>  <a href="/register/check-answers">Check your answers</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Updated 'due diligence' <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>
                    <li>Including <a href="/register/check-answers-2">an alternative version</a> <strong class="govuk-tag govuk-tag--blue">Unknown</strong></li>

                </ul>

              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                Not ready for testing
                </strong>
              </td>
            </tr>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="https://roe-v3.herokuapp.com/">Version 3</a>
              </th>
              <td class="govuk-table__cell">Week ending 1 April 2022</td>
              <td class="govuk-table__cell">

                <p>  <a href="/register/start-merged-with-guidance">Start page (merged with guidance)</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Date removed from first paragraph</li>
                  <li>Fees and fines blocked out</li>
                  <li>Content around service not saving data made more prominent</li>
                </ul>

                <p>  <a href="/register/due-diligence">Due diligence</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Potential new page added</li>
                </ul>

                <p>  <a href="/register/presenter">Tell us about yourself</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Name split into surname and forename</li>
                  <li>Anti money laundering question removed</li>
                  <li>Phone number question removed</li>
                </ul>

                <p>  <a href="/register/entity">Tell us about the overseas entity</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Added questions about a contact name and contact email address</li>
                  <li>Added hint about how we will use the email address associated with the entity</li>
                </ul>

                <p>  <a href="/register/beneficial-owner-statements">Statements</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>New page added</li>
                </ul>

                <p>  <a href="/register//beneficial-owner-type">Types (beneficial owner / managing officer)</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Revised to now allow users to select the type: beneficial owner(s) and/or managing officer(s)</li>
                </ul>

                <p>  <a href="/register/beneficial-owner-individual">Tell us about the individual beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Changed nature of control to checkboxes (as they can select more than one)</li>
                  <li>Separate question about trusts removed and is now included as an option in the question about 'nature of control'</li>
                  <li>Green button text changed</li>
                </ul>

                <p>  <a href="/register/beneficial-owner-other">Tell us about the corporate beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Added question about trusts</li>
                  <li>Changed nature of control to checkboxes (as they can select more than one)</li>
                  <li>Separate question about trusts removed and is now included as an option in the question about 'nature of control'</li>
                  <li>Fixed 'principal' typo</li>
                  <li>Updated content for nature of control options</li>
                  <li>Updated content for 'legal form' and 'governing law' fields</li>
                  <li>Green button text changed</li>
                </ul>

                <p>  <a href="/register/beneficial-owner-gov">Tell us about the government or public authority beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Changed nature of control to checkboxes (as they can select more than one)</li>
                  <li>Updated content for nature of control options</li>
                  <li>Updated content for 'legal form' and 'governing law' fields</li>
                  <li>Green button text changed</li>
                </ul>

                <p>  <a href="/register/managing-officer">Tell us about the individual managing officer</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Added question about correspondence address</li>
                  <li>Green button text changed</li>
                </ul>

                <p>  <a href="/register/managing-officer-corporate">Tell us about the corporate managing officer</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Major updates, added correct fields</li>
                  <li>Green button text changed</li>
                </ul>

                <p>Trusts</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>Major update - multiple screens added (<a href="/#code">see links</a>)</li>
                </ul>


              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
              User tested
                </strong>
              </td>
            </tr>



            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="/">Version 2</a>
              </th>
              <td class="govuk-table__cell">week ending 25 March 2022</td>
              <td class="govuk-table__cell">

                <p>All pages</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>Page <span class="govuk-!-font-weight-bold">title</span> attribute updated to show 'GOV.UK' rather than 'Companies House' and to reflect page content</li>
              </ul>

                <p><a href="/register/start-merged-with-guidance">Start page</a></p>
                <ul class="govuk-list govuk-list--bullet">
                <li>New content added throughout</li>
              </ul>

              <p><a href="sign-in">Sign in</a><p>
                <ul class="govuk-list govuk-list--bullet">
                <li>Updated content around WebFiling to match Directors service</li>
              </ul>


                <p><a href="/register/presenter">Tell us about yourself</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Made phone number field larger to accomodate overseas phone numbers</li>
                  <li>Added hint around international numbers (from GOV.UK Design System)</li>
                  <li>Removed hint about only choosing one option from Role question (not needed, as is a radio selection)</li>
                  <li>Reworked anti-money laundering question to Yes/No style</li>
                  <li>Updated radios in 'What is your role'</li>
                  <li>Updated content in 'What info is shown on the register'</li>
                </ul>

                <p><a href="/register/entity">Tell us about the overseas entity</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated address fields to include overseas elements (copied pattern used on Directors)</li>
                  <li>Added hint about what we'll use the email address for (to be explained)</li>
                  <li>Shortened 'registration number' field</li>
                  <li>Reformatted questions about public register into a Yes/No component</li>
                  <li>Updated content in 'What is an overseas entity'</li>
                  <li>Updated content for field headings throughout, and hint text added to 'legal form' and 'governing law' questions</li>
                  <li>Updated content in 'What info is shown on the register'</li>

                </ul>

                <p><a href="/register/beneficial-owner-type">Who is a beneficial owner of the overseas entity?</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Reworked page into Yes/No question</li>
                  <li>Expanded options, now 3: individual, corporate, gov or other</li>
                </ul>

                <p><a href="/register/beneficial-owner-individual">Tell us about the individual beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated address fields to include overseas elements (copied pattern used on Directors)</li>
                  <li>Updated spacing of sub-heading</li>
                  <li>Updated content in 'what is a beneficial owner'</li>
                  <li>Updated content for field headings throughout</li>
                  <li>Updated radios for 'nature of control'</li>
                  <li>Updated content in 'What info is shown on the register'</li>
                  <li>Updated links/buttons which allow user to add another (or not)</li>
                </ul>



                <p><a href="/register/beneficial-owner-other">Tell us about the corporate beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated address fields to include overseas elements (copied pattern used on Directors)</li>
                  <li>Updated spacing of sub-heading</li>
                  <li>Updated content in 'what is a corporate beneficial owner'</li>
                  <li>Updated content for field headings throughout, and hint text added to 'governing law' question</li>
                  <li>Updated radios for 'nature of control'</li>
                  <li>Updated content in 'What info is shown on the register'</li>
                  <li>Updated links/buttons which allow user to add another (or not)</li>
                  <li>Removed placeholder 'statement of condition' question</li>
                </ul>

                <p><a href="/register/beneficial-owner-gov">Tell us about the government or public authority beneficial owner</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Page added</li>
                  <li>Removed placeholder 'statement of condition' question</li>
                </ul>




                <p><a href="/register/managing-officer">Tell us about the individual managing officer</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated address fields to include overseas elements (copied pattern used on Directors)</li>
                  <li>Updated spacing of sub-heading</li>
                  <li>Changed 'role and responsibilities' input to text area to allow more information to be entered</li>
                  <li>Added link to allow another managing officer to be added</li>
                  <li>Updated content in 'what is a managing officer'</li>
                  <li>Updated content for field headings throughout</li>
                  <li>Updated content in 'What info is shown on the register'</li>
                  <li>Updated links/buttons which allow user to add another (or not)</li>
                </ul>

                <p><a href="/register/managing-officer-corporate">Tell us about the corporate managing officer</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>Page added</li>
                </ul>

                <p><a href="/register/check-answers">Check your answers</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated captions to match changes made to field headings in each section</li>
                  <li>Updated content in declaration</li>
                  <li>Button text changed to 'Accept and pay'</li>
                </ul>

                <p><a href="/register/confirmation">Confirmation</a><p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Updated content in green box</li>
                  <li>New content under 'What happens next'</li>
                </ul>

                <p>Footer<p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Added placeholder 'accessibility statement'</li>
                </ul>

                <p>Emails<p>
                  <ul class="govuk-list govuk-list--bullet">
                  <li>Placeholder emails added</li>
                </ul>

              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  User tested
                </strong>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <a href="https://roe-v1.herokuapp.com//">Version 1</a>
              </th>
              <td class="govuk-table__cell">NA</td>
              <td class="govuk-table__cell">
              NA
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--grey">
                Not user tested
                </strong>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
