{% extends "layout.html" %}

{% block pageTitle %}
  Service unavailable – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You are now signed out</h1>
      <p>For your security, we've signed you out because you have not used the service for 60 minutes.</p>

<p>We have not saved your information.</p>

<p><a href="/register/start">Start again to register an overseas entity.</a></p>
    </div>
  </div>

{% endblock %}
